<div class="main-body">

  <section class="section-featured mb-45">

    <div class="row" data-equalizer="" data-equalizer-mq="large-up">


      <header class="section-head">
        <h2 class="section-title" id="staff">Acerca de Nosotros</h2><!-- /.section-title -->

        <div class="section-image">
            <i class="fa fa-bookmark fa-lg"></i>
        </div><!-- /.section-image -->
      </header>
      <p><strong>Enseña por Panamá</strong> busca colaborar a resolver el problema educativo de Panamá atacando sus causas de raíz y así iniciar un movimiento para transformar los salones de clase, las comunidades y, eventualmente, el sistema educativo y las perspectivas sociales.</p>
      <ul class="post-items medium-block-grid-3">
        <li>
          <h2 style="margin-bottom: 15px;line-height: 50px;">
            <i class="fa fa-eye circle icon2" style="float:left;padding-left: 14px!important;"></i> Nuestra Visión
          </h2>
          <p>Un día todos los niños y jóvenes de Panamá tendrán la oportunidad de recibir una educación de excelencia.</p>
        </li>

        <li>
          <h2 style="margin-bottom: 15px;line-height: 50px;">
            <i class="fa fa-flag circle icon2" style="float:left;padding-left: 12px!important;"></i> Nuestra Misión
          </h2>
          <p>Inspirar un movimiento formado por líderes excepcionales comprometidos a mejorar la calidad de la educación y reducir las desigualdades en Panamá, tomando acción dentro y fuera de las aulas de clases.</p>
        </li>

        <li>
          <h2 style="margin-bottom: 15px;line-height: 50px;">
            <i class="fa fa-certificate circle icon2" style="float:left;padding-left: 15px!important;"></i> Nuestros Valores
          </h2>
          <ul>
            <li>Excelencia</li>
            <li>Trabajo en equipo</li>
            <li>Humildad y Respeto</li>
            <li>Sentido de posibilidad</li>
            <li>Aprendizaje continuo</li>
          </ul>
        </li>

      </ul>


      </div>

  </div>


  </section>
