<div class="main-body">

  <section class="section-featured mb-45">

    <div class="row" data-equalizer="" data-equalizer-mq="large-up">
      <div class="column small-12">
        <div class="content">
          <article class="post post-single">
            <div class="post-body">
              <div class="entry" itemprop="articleBody">

                <header class="section-head">
                  <h2 class="section-title" id="staff">Acerca de Nosotros</h2><!-- /.section-title -->

                  <div class="section-image">
                      <i class="fa fa-bookmark fa-lg"></i>
                  </div><!-- /.section-image -->
                </header>
                <p>Enseña por Panamá busca colaborar a resolver el problema educativo de Panamá atacando sus causas de raíz y así iniciar un movimiento para transformar los salones de clase, las comunidades y, eventualmente, el sistema educativo y las perspectivas sociales.</p>
                <ul class="post-items medium-block-grid-3">
                  <li>
                    <h4>
                      <i class="fa fa-eye"></i> Nuestra Visión
                    </h4>
                    <p>Un día todos los niños y jóvenes de Panamá tendrán la oportunidad de recibir una educación de excelencia.</p>
                  </li>

                  <li>
                    <h4>
                      <i class="fa fa-flag"></i> Nuestra Misión
                    </h4>
                    <p>Inspirar un movimiento formado por líderes excepcionales comprometidos a mejorar la calidad de la educación y reducir las desigualdades en Panamá, tomando acción dentro y fuera de las aulas de clases.</p>
                  </li>

                  <li>
                    <h4>
                      <i class="fa fa-certificate"></i> Nuestros Valores
                    </h4>
                    <ul>
                      <li>Excelencia</li>
                      <li>Trabajo en equipo</li>
                      <li>Humildad y Respeto</li>
                      <li>Sentido de posibilidad</li>
                      <li>Aprendizaje continuo</li>
                    </ul>
                  </li>

                </ul>

              </div>
            </div>
          </article>
        </div>
      </div>


      </div>

  </div>


  </section>
