<div class="main-body">
    <section class="section-featured mb-45">

		<div class="row">
			 <header class="section-head">
                <h2 class="section-title" id="staff">Nuestro Equipo</h2><!-- /.section-title -->

                <div class="section-image">
                    <i class="fa fa-bookmark fa-lg"></i>
                </div><!-- /.section-image -->
            </header>

            <div class="row">
                {% include "about/staff_blocks.html" %}
            </div>
		</div><!-- /.row -->
	</section>


		</div><!-- /.columns large-3 push-large-1 -->
	</div><!-- /.row -->
</div>
