<div class="main-body">
    <section class="section-featured mb-45">

		<div class="row">
			 <header class="section-head">
                <h2 class="section-title" id="staff">Nuestro Equipo</h2><!-- /.section-title -->

                <div class="section-image">
                    <i class="fa fa-bookmark fa-lg"></i>
                </div><!-- /.section-image -->
            </header>

            <div class="row">
                {% include "about/staff_blocks.html" %}
            </div>
		</div><!-- /.row -->

    <div class="row" data-equalizer="" data-equalizer-mq="large-up">
      <div class="column small-12">
        <div class="content">
          <article class="post post-single">
            <div class="post-body">

              <div class="entry" itemprop="articleBody">

                <h1> Equipo </h1>

                <div class="row space-1"></div>

                {# Lorena Valencia #}
                <div class="row">
                  <a name="{{ staff_data.0.link }}"></a>

                  <div class="columns medium-4">
                    <img src="{% static staff_data.0.photo %}" class="center th gray" />
                  </div>

                  <div class="columns medium-8">
                    <h4>{{ staff_data.0.name }}</h4>
                    <strong>{{ staff_data.0.tagline }}</strong>
                    <blockquote class="red">
                      <p>Creo fuertemente que la única manera de disminuir la brecha de desigualdades en Panamá es por medio de la educación; En Enseña por Panamá estamos llevando al talento nacional que se iría el sector privado al sector publico educativo; esperamos tener un gran impacto</p>
                    </blockquote>
                    <p>Lorena es una co-fundador y CEO de Enseña por Panamá. Antes de iniciar Enseña por Panamá, Lorena dirigió el capítulo de Panamá de “Learning Enterprises,”que fundó en 2005. LE Panamá se centra en la enseñanza del idioma Inglés en las comunidades rurales subdesarrolladas, mediante la ayuda de estudiantes universitarios de Estados Unidos para servir como maestros / mentores durante sus vacaciones de verano . Bajo su administración, Lorena ha reclutado a más de 100 docentes / tutores, y ha forjado una comunidad de más de 70 familias que acogen a los voluntarios  y  trabajado con 25 escuelas públicas.</p>
                    <p>Además de su participación en LE Panamá, Lorena ha trabajado extensamente en los sectores privado y social. Ha ocupado varios cargos importantes dentro de las Naciones Unidas, incluyendo a UNICEF y UNFPA. Actualmente es miembro fundador del capítulo de Panamá de la iniciativa Global Shapers del Foro Económico Mundial.</p>
                    <p>Lorena posee una licenciatura en Psicología, con especialización en Ciencia Cognitiva de la Universidad de Georgetown. EN adición, posee un master en Políticas Públicas de la Universidad de Columbia.</p>
                    <p>A Lorena le fascina conocer nuevas culturas;  a "comido su camino" a través de 45 países. Actualmente reside en Panamá con su esposo Billy y con su hijo Bobby.</p>
                  </div>
                </div>

                <div class="row space-1"></div>

                {# David Bernal #}
                <div class="row">
                  <a name="{{ staff_data.1.link }}"></a>

                  <div class="columns medium-4">
                    <img src="{% static staff_data.1.photo %}" class="center th gray" />
                  </div>

                  <div class="columns medium-8">
                    <h4>{{ staff_data.1.name }}</h4>
                    <strong>{{ staff_data.1.tagline }}</strong>
                    <blockquote class="red">
                      <p>Si me tocará resumir lo que significa ser parte de Enseña Por Panamá, bastarían 4 palabras...¡Amar lo que haces!.</p>
                    </blockquote>
                    <p>Enfocado en el fortalecimiento y empoderamiento de la juventud, ha colaborado activamente con el PNUD, UNFPA, MIDES  y el Consejo Nacional de la Juventud para la articulación de las políticas juveniles. Abogado de profesión, Fue asesor jurídico de la Comisión de Reformas Constitucionales, consultor para la evaluación y monitoreo del Sistema Penal Acusatorio e investigador en el Centro de Iniciativas Democráticas.</p>
                    <p>Ha trabajado como  colaborador en proyectos educativos, como la creación de la Licenciatura en Ciencia Política, los procesos de Acreditación Internacional y Evaluación Universitaria y asesor legal en la Dirección de Cooperación Internacional en la Universidad de Panamá.</p>
                  </div>
                </div>

                <div class="row space-1"></div>

                {# Daniel McKee #}
                <div class="row">
                  <a name="{{ staff_data.2.link }}"></a>

                  <div class="columns medium-4">
                    <img src="{% static staff_data.2.photo %}" class="center th gray" />
                  </div>

                  <div class="columns medium-8">
                    <h4>{{ staff_data.2.name }}</h4>
                    <strong>{{ staff_data.2.tagline }}</strong>
                    <p>Daniel McKee asistió a la Universidad de Brown, antes de iniciar una larga carrera en la educación. Inicia enseñado en escuelas del centro urbano en California. Luego convirtió en un voluntario del Cuerpo de Paz en Paraguay, donde ayudo a formar maestros jóvenes en la Escuela de Maestrías Regional que estaban embarcando en sus propias carreras en las escuelas rurales.</p>
                    <p>Luego pasó a enseñar estudios sociales y artes del lenguaje en las escuelas públicas de la Ciudad de Nueva York durante 10 años, obteniendo una Maestría en Educación Bilingüe en  Universidad de Columbia (Teachers College) y más tarde una credencial post-maestría en Administración y Supervisión Escolar.</p>
                    <p>Después de más de una década en la ciudad de Nueva York, Daniel se embarcó en una próxima década en las escuelas International. Daniel trabajó como profesor y director de la escuela en Guatemala, Tailandia y España, antes de llegar a Panamá en 2008 como el director de la escuela de la Escuela Internacional de Panamá, donde trabajo por seis años.</p>
                    <p>Durante los últimos siete años ha llamado Panamá su casa; Vive aquí con su esposa y sus dos hijos, donde disfruta de senderismo en los bosques y viajar a las playas.</p>
                  </div>
                </div>

                <div class="row space-1"></div>

                {# Julio Arias #}
                <div class="row">
                  <a name="{{ staff_data.3.link }}"></a>

                  <div class="columns medium-4">
                    <img src="{% static staff_data.3.photo %}" class="center th gray" />
                  </div>

                  <div class="columns medium-8">
                    <h4>{{ staff_data.3.name }}</h4>
                    <strong>{{ staff_data.3.tagline }}</strong>
                    <p>Julio Germán Arias Castillo, Director de Relaciones Públicas Internacionales de Enseña por Panamá, trabaja en Morgan Stanley en la ciudad de Nueva York. Anteriormente, ha realizado pasantías en Citigroup y Deloitte en Panamá, Opus Investimentos en Brasil, y el grupo de emisión de deuda soberana y corporativa latinoamericana de Morgan Stanley (donde fue premiado con la beca al mérito Richard B. Fisher). Actualmente es miembro de la Junta Directiva de Young Professionals of the Americas, una iniciativa de la organización hemisférica Americas Society/Council of the Americas.</p>
                    <p>Julio Germán es Licenciado en Economía por The Wharton School y Licenciado en Estudios Internacionales por el College of Arts and Sciences de la Universidad de Pennsylvania (miembro del Programa Huntsman). Durante su carrera universitaria, formó parte de las Juntas Directivas de Wharton Latino, el Wharton Business Law Association, y el Comité Asesor de Estudiantes Internacionales. Además, fue electo Senador de Wharton ante la Asamblea Estudiantil, y seleccionado como Maestro de Ceremonias del Wharton Global Forum 2014. Al graduarse, fue galardonado con el 2014 Alumni Student Award of Merit. </p>
                    <p>Nacido y criado en Panamá, Julio Germán ha representado al país en destacados foros internacionales, tales como la Conferencia TUNZA 2009 (organizada por el Programa de las Naciones Unidas para el Medio Ambiente) y Vanguardia Iberoamericana 2013 (auspiciada por la OEA, UNESCO y el BID en el marco de la XXIII Cumbre Iberoamericana de Jefes de Estado).</p>
                  </div>
                </div>

                <hr>

                <h1>Junta Directiva</h1>

                <div class="row space-1"></div>

                {# Marisa Arias #}
                <div class="row">
                  <a name="{{ staff_data.4.link }}"></a>

                  <div class="columns medium-4">
                    <img src="{% static staff_data.4.photo %}" class="center th gray" />
                  </div>

                  <div class="columns medium-8">
                    <h4>{{ staff_data.4.name }}</h4>
                    <strong>{{ staff_data.4.tagline }}</strong>
                    <p>Recibió su licenciatura en Ciencias Políticas de la Universidad de Vassar en 1995 y continuó sus estudios de maestría en Administración de Organizaciones Sin Fines de Lucro en la Escuela Wagner de Administración Pública de la Universidad de Nueva York. Al llegar a Panamá, Marisa forma parte de grupo impulsor de FundaCáncer del cual ha sido miembro se su Junta Directiva desde hace 16 años. Trabajó como Directora Ejecutiva del Centro Empresarial de Inversión Social (CEDIS), una iniciativa financiada por la Fundación Kellogg bajo el Liderazgo en Filantropía del Programa de las Américas. En 2004 Marisa fue reclutada por Telefónica para iniciar su oficina de Responsabilidad Corporativa como Gerente de RSE en Panamá. A lo largo de los 5 años, diseñó y ejecutó la estrategia de RSE localmente.</p>
                    <p>Desde 2010 ha trabajado como Directora Ejecutiva Fundadora de United Way Panamá. Después de liderar muchos proyectos nacionales relacionados a  asuntos públicos, haber voluntariado en una gama de diferentes organizaciones sin fines de lucro, y haber conducido muchas campañas de causas relacionadas, Marisa se le dio las llaves de la Ciudad de Panamá en 2012, un honor propuesta por la Alcaldía en reconocimiento a su "carrera valiosa y exitosa como profesional y su servicio voluntario incesante con el bienestar de los pacientes de cáncer." Ella está participando actualmente en Aspen Instituto del Global Leadership Network como parte de su Iniciativa de Liderazgo de Centroamérica (CALI) y es parte de la Junta de Asesores de Global Shapers, grupo de jóvenes lideres del Foro Económico Mundial.</p>
                  </div>
                </div>

                <div class="row space-1"></div>

                {# Jorge Arosemena #}
                <div class="row">
                  <a name="{{ staff_data.5.link }}"></a>

                  <div class="columns medium-4">
                    <img src="{% static staff_data.5.photo %}" class="center th gray" />
                  </div>

                  <div class="columns medium-8">
                    <h4>{{ staff_data.5.name }}</h4>
                    <strong>{{ staff_data.5.tagline }}</strong>
                    <p>Sociólogo panameño. Casado, cuatro hijos.  Hizo estudios de Ingeniería Civil en la Universidad de Panamá (1961-64).  Obtuvo una Licenciatura Clásica en Filosofía (1969) y una Maestría en Sociología (1971), ambas en Saint Louis University, Estados Unidos.</p>
                    <p>Profesor Titular de Sociología en la Universidad de Panamá donde ha ejercido la docencia universitaria desde 1971, entidad en la cual ocupó las posiciones de  Secretario General y Vicerrector Académico.</p>
                    <p>En el sector público ha ocupado los cargos de Gerente General del Instituto Panameño de Turismo, Viceministro de la Presidencia, Viceministro y Ministro de Educación.  </p>
                    <p>Sus trabajos de investigación y publicaciones han girado especialmente alrededor de la temática Educación y Desarrollo.</p>
                    <p>Desde 1997 hasta el presente se ha desempeñado como Presidente Ejecutivo de la Fundación Ciudad del Saber, organismo no gubernamental encargado de la puesta en marcha y consolidación de este proyecto de Estado por medio del cual se ha transformado una antigua base militar norteamericana en un Centro Internacional en que participan universidades, centros de investigación, empresas de alta tecnología y organismos internacionales.</p>
                    <p>Ha tenido una extensa experiencia en programas de cooperación internacional, particularmente con la Unión Europea, el Banco Interamericano de Desarrollo y el Banco Mundial.</p>
                  </div>
                </div>

                <hr />
                <h1>Asesores</h1>

                <div class="row space-1"></div>

                {# Julio Escobar #}
                <div class="row">
                  <a name="{{ staff_data.6.link }}"></a>

                  <div class="columns medium-4">
                    <img src="{% static staff_data.6.photo %}" class="center th gray" />
                  </div>

                  <div class="columns medium-8">
                    <h4>{{ staff_data.6.name }}</h4>
                    <strong>{{ staff_data.6.tagline }}</strong>
                    <p>Es Presidente y Ejecutivo Principal (CEO) de Centauri Technologies Corporation, empresa dedicada a apoyar la evolución tecnológica de corporaciones y organizaciones que desean fortalecer su competitividad y capacidad de innovar. </p>
                    <p>Julio Escobar fue científico y gerente de investigación del Grupo de Investigaciones Avanzadas de Internet en la empresa BBN, de los Estados Unidos de América; la empresa que implementó la primera versión de lo que ahora se conoce como el Internet. Allí desarrolló protocolos, algoritmos, arquitecturas y sistemas para redes de comunicación inalámbrica, supervivencia de redes, cómputo distribuido, comunicación multimedios, seguridad de datos y otras áreas de alta tecnología. El Dr. Escobar ha sido evaluador y miembro de comités asesores de la Fundación Nacional de Ciencias y de la Agencia de Proyectos Avanzados de Defensa (DARPA) de los Estados Unidos de América, es miembro senior del Instituto de Ingenieros Electricos y Electrónicos (IEEE), miembro de la Asociación de Máquinas de Computación, y ha sido miembro del consejo editorial de las revistas científicas IEEE Networks y del Journal of Fiber and Integrated Optics. </p>
                    <p>En Centauri Technologies, dirigió el diseñó e implementación de la infraestructura de seguridad de la red de cajeros automáticos Telered de Panamá y la infraestructura de seguridad para las elecciones nacionales. Ha supervisado o dirigido proyectos de diseño o implementación de sistemas de redes inalámbricas, arquitectura de servicios, tecnología semántica, desarrollo de aplicaciones e investigación y desarrollo. </p>
                    <p>De 2004 al 2009 fue Secretario Nacional y Ministro de Ciencia, Tecnología e Innovación. Su gestión ha sido notada recientemente en el ejemplar del 27 de enero de la prestigiosa revista científica internacional Nature. Los logros incluyen el sistema de fondos por competencia para investigación, innovación y actividades de ciencia, el programa de becas para formación de científicos, el Sistema Nacional de Investigación y la independencia de laboratorios nacionales bajo la figura de Asociaciones de Interés Público. </p>
                    <p>El Dr. Escobar tiene un Ph.D. del Instituto Tecnológico de Massachussetts en Ingeniería Eléctrica y Ciencias de Computación. Es miembro de la junta de síndicos de la Ciudad del Saber, de la Fundación Amador, de la junta directiva de la Fundación Biblioteca Nacional y miembro de la Junta Directiva de Venture Club, el único club abierto de inversionistas ángeles de Panamá.</p>
                  </div>
                </div>

              </div>

            </div>
          </article>
        </content>
      </div>
    </div>
	</section>


		</div><!-- /.columns large-3 push-large-1 -->
	</div><!-- /.row -->
</div>
