<div class="main-body">

  <div class="row" data-equalizer="" data-equalizer-mq="large-up">
    <div class="column small-12">
      <div class="content">
        <article class="post post-single">
          <div class="post-body">
            <div class="entry" itemprop="articleBody">

              <hr />
              <h1 id="teachforall">Red de Teach for All</h1>

              <div class="row space-1"></div>
              <img src="{% static 'assets/images/teach_for_all.png' %}" class="center" />

            </div>
          </div>
        </article>
      </div>
    </div>
  </div>

</div>
