<div class="main-body">
    
<section class="section-featured mb-45">

    <div class="row" data-equalizer="" data-equalizer-mq="large-up">


          <header class="section-head">
            <h2 class="section-title" id="staff">Red de Teach for All</h2><!-- /.section-title -->

            <div class="section-image">
                <i class="fa fa-bookmark fa-lg"></i>
            </div><!-- /.section-image -->
          </header>
        <div class="row space-1"></div>
              <img src="{% static 'assets/images/teach_for_all.png' %}" class="center" />

    </div>
  </section>
</div>
