<div class="slider-intro">
		<div class="slider-clip">
			<ul class="slides owl-carousel">

        {# defined in plugins/statics.py #}
        {% for slider_image in slider_image_list %}
          <li class="slide">
  					<div class="slide-image fullscreener">
  						<img src="{% static slider_image.image %}" height="890" width="1800" alt="">
  					</div><!-- /.slide-image -->

  					<div class="slide-content">
  						<div class="row">
  							<div class="columns large-7">
									<h2 class="slide-title">{{ slider_image.title }}</h2><!-- /.slide-title -->

									{# Only render this block if the slider_image has a subtitle. #}
									{% if slider_image.subtitle and slider_image.subtitle.strip %}
	  								<div class="slide-entry">
	  								     {{ slider_image.subtitle|safe }}	
	  								</div><!-- /.slide-entry -->
									{% endif %}
                                    
                             
  							</div><!-- /.columns large-7 -->
                                   
  							<div class="columns large-5">
                                {% if slider_image.type == '1' %}
  								<div class="slide-aside">

  									<div class="slide-progress">
  										<div class="slide-raised rojoAlt"><a class="slider-link" href="{% url '/desafio.html' %}">
  											<span>Estudiantes</span>

  											<strong>Ver Desafio</strong>
                                            </a></div><!-- /.slide-raised -->

  										<div class="slide-to-go rojo"><a class="slider-link" href="{% url '/programa/quien_buscamos.html' %}">
  											<span>Profesores de E×P</span>

  											<strong>Ver Programa</strong>
  										</a></div><!-- /.slide-to-go -->
  									</div><!-- /.slide-progress -->
  								</div><!-- /.slide-aside -->
                                {% endif %}
                                {% if slider_image.type == '2' %}
                                <div class="slide-aside">

  									<div class="slide-progress">
  										<div class="slide-raised rojoAlt" style="padding-top: 35px;"><a class="slider-link" href="{% url '/alumni.html' %}">
  											<span>Estudiantes</span>
  											<strong>1.080</strong>
                                            <strong>Ver Alumni</strong>
                                            </a></div><!-- /.slide-raised -->

  										<div class="slide-to-go rojo" style="padding-top: 35px;"><a class="slider-link" href="{% url '/programa/quien_buscamos.html' %}">
  											<span>Profesores de E×P</span>
  											<strong>12</strong>
                                            <strong>Ver Programa</strong>
  										</a></div><!-- /.slide-to-go -->
  									</div><!-- /.slide-progress -->
  								</div><!-- /.slide-aside -->
             
                                {% endif %}
  							</div><!-- /.columns large-5 -->
  						</div><!-- /.row -->
  					</div><!-- /.slide-content -->
  				</li><!-- /.slide -->
        {% endfor %}

			</ul><!-- /.slides -->
		</div><!-- /.slider-clip -->

		<div class="slider-actions"></div><!-- /.slider-actions -->
	</div><!-- /.slider-intro -->
