.row.space-1 {
  padding: 1rem; }

  article.post-single .entry blockquote p {
    border-left: 3px solid #CF4755; }

    .footer-section img {
      max-width: 350px; }

      .callout.tfa-banner {
        background-color: #CF4755; }
        .callout.tfa-banner .columns img {
          height: 20px; }

ul.staff-items li.staff-item:nth-child(even) .staff-item-content .staff-item-actions::before {
  background: #CF4755 none repeat scroll 0% 0%; }
  ul.staff-items li.staff-item:nth-child(even) img {
    height: 248px;
    width: 292px; }
    ul.staff-items li.staff-item:nth-child(even):hover {
      background-color: #CF4755; }
      ul.staff-items li.staff-item:nth-child(even):hover .staff-item-content .staff-item-actions::before {
        background: #ffffff none repeat scroll 0% 0%; }
        ul.staff-items li.staff-item:nth-child(even):hover .staff-item-image::after {
          border-color: transparent #CF4755; }
ul.staff-items li.staff-item:nth-child(odd) .staff-item-content .staff-item-actions::before {
  background: #298FC2 none repeat scroll 0% 0%; }
  ul.staff-items li.staff-item:nth-child(odd) img {
    height: 248px;
    width: 292px; }
    ul.staff-items li.staff-item:nth-child(odd):hover {
      background-color: #298FC2; }
      ul.staff-items li.staff-item:nth-child(odd):hover .staff-item-content .staff-item-actions::before {
        background: #ffffff none repeat scroll 0% 0%; }
        ul.staff-items li.staff-item:nth-child(odd):hover .staff-item-image::after {
          border-color: transparent #298FC2; }

/*
* Custom CSS
*/

.circle{
    border-radius:50%;
    max-height: 400px;
}
.mb-45{
    margin-bottom: 45px!important;
}
.row .allies img {
    margin-bottom: 20px;
    max-width: 200px;
}
.column.allies {
    text-align: center;
}
li.full-width {
    width: 100%;
}
span.number-circle {
    background-color: #298FC2;
    color: #fff;
    /* height: 60px; */
    /* width: 60px; */
    padding: 10px 15px;
    border-radius: 50%;
    font-size: 18px;
    margin-right: 15px;
    font-weight: 900;
}
.small-text{
    margin-top: -18px;
    text-transform: uppercase;
    font-size: 11px;
    color: #000;
    margin-left: 15px;
}

i.circle {
    background-color: #298FC2;
    height: 30px;
    width: 30px;
    line-height: 30px;
    padding-left: 7px;
    margin-right: 5px;
    color: #fff;
}
.mt-45 {
    margin-top: 45px;
}
.mt--20{
    margin-top: -20px;
}
h4.image-title {
    font-size: 24px;
    text-align: center;
    margin-bottom: 25px;
    letter-spacing: 1px;
}
h4.image-title span{
    color:#298EC2;
    font-weight: 700;
}
.download-link{
    color: #000;
    text-transform: uppercase;
    font-size: 11px;
    margin-left: 10px;
}
.download-title{
}
.download-title {
    background-color: #388FBE;
    color: #fff;
    text-align: center;
    font-size: 15px;
    text-transform: uppercase;
    margin-bottom: 15px;
    padding: 5px;
}
a.download-link:hover {
    color: #D23730;
}

.slide-entry a{
  color: #fff;
}
.post-image {
    text-align: center;
}

.staff-item-image img, img.gray{
  /* for Webkit browsere, Chrome 19+, Safari 6+ ... */
  -webkit-filter: grayscale(1);

  /* this is for Firefox 3.5+, Firefox mobile */
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'gs\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#gs");

  /* for IE6+ */
  filter: gray;
}

li.staff-item:hover .staff-item-image img{
  -webkit-filter: none;
  filter: none;
}
