// Variables

$color-red: #d22630;
$color-blue: #298FC2;
$color-white: #ffffff;


/*
 * Custom
 */
.row.space-1{
  padding: 1rem;
}

article.post-single .entry blockquote p{
  border-left: 3px solid $color-red;
}

.footer-section img{
  max-width: 350px;
}

/*
 About us page
*/

// Inner line inside each staff item
@mixin inner_line_color($color){
 .staff-item-content .staff-item-actions::before{
   background: $color none repeat scroll 0% 0%;
 }
}

// each staff item
@mixin staff_item_background($staff_color){
  @include inner_line_color($staff_color);

  img {
    height: 248px;
    width: 292px;
  }

  &:hover{

    background-color: $staff_color;
    @include inner_line_color($color-white);

    .staff-item-image {

      &::after{
        border-color: transparent $staff_color;
      }
    }
  }
}

ul.staff-items li.staff-item{

  //Even staff items get colored red
  &:nth-child(even){
    @include staff_item_background($color-red)
  }

  //Odd staff items get colored blue
  &:nth-child(odd){
    @include staff_item_background($color-blue);
  }
}
