.row.space-1 {
  padding: 1rem; }

  article.post-single .entry blockquote p {
    border-left: 3px solid #d22630; }

    .footer-section img {
      max-width: 350px; }

      .callout.tfa-banner {
        background-color: #d22630; }
        .callout.tfa-banner .columns img {
          height: 22px; }

ul.staff-items li.staff-item:nth-child(even) .staff-item-content .staff-item-actions::before {
  background: #d22630 none repeat scroll 0% 0%; }
  ul.staff-items li.staff-item:nth-child(even) img {
    height: 248px;
    width: 292px; }
    ul.staff-items li.staff-item:nth-child(even):hover {
      background-color: #d22630; }
      ul.staff-items li.staff-item:nth-child(even):hover .staff-item-content .staff-item-actions::before {
        background: #ffffff none repeat scroll 0% 0%; }
        ul.staff-items li.staff-item:nth-child(even):hover .staff-item-image::after {
          border-color: transparent #d22630; }
ul.staff-items li.staff-item:nth-child(odd) .staff-item-content .staff-item-actions::before {
  background: #298FC2 none repeat scroll 0% 0%; }
  ul.staff-items li.staff-item:nth-child(odd) img {
    height: 248px;
    width: 292px; }
    ul.staff-items li.staff-item:nth-child(odd):hover {
      background-color: #298FC2; }
      ul.staff-items li.staff-item:nth-child(odd):hover .staff-item-content .staff-item-actions::before {
        background: #ffffff none repeat scroll 0% 0%; }
        ul.staff-items li.staff-item:nth-child(odd):hover .staff-item-image::after {
          border-color: transparent #298FC2; }

.circle{
    border-radius:50%;
}
.mb-45{
    margin-bottom: 45px!important;
}
li.full-width {
    width: 100%;
}
span.number-circle {
    background-color: #298FC2;
    color: #fff;
    /* height: 60px; */
    /* width: 60px; */
    padding: 10px 15px;
    border-radius: 50%;
    font-size: 18px;
    margin-right: 15px;
    font-weight: 900;
}
.small-text{
    margin-top: -18px;
    text-transform: uppercase;
    font-size: 11px;
    color: #000;
    margin-left: 15px;
}

i.circle {
    background-color: #298FC2;
    height: 30px;
    width: 30px;
    line-height: 30px;
    padding-left: 7px;
    margin-right: 5px;
    color: #fff;
}
.mt-45 {
    margin-top: 45px;
}
.mt--20{
    margin-top: -20px;
}
h4.image-title {
    font-size: 24px;
    text-align: center;
    margin-bottom: 25px;
    letter-spacing: 1px;
}
h4.image-title span{
    color:#298EC2;
    font-weight: 700;
}


