<div class="main-body">
	<div class="row" data-equalizer="" data-equalizer-mq="large-up">
		<div class="column small-12">
	    <div class="content">
        <article class="post post-single">
	        <div class="post-body">
	          <div class="entry" itemprop="articleBody">
							<h1>Corportativos</h1>
							<p>Enseña por Panamá está agradecido con las compañías que creyeron en nosotros antes de nuestro lanzamiento oficial; han demonstrando su compromiso por disminuir la desigualdad y brindar una educación de calidad a los niños y jóvenes panameños.</p>
							<ul class="medium-block-grid-4">
								<li><img src="https://placehold.it/1920x1080"/>Banco General</li>
								<li><img src="https://placehold.it/1920x1080"/>Feduro</li>
								<li><img src="https://placehold.it/1920x1080"/>Almancenajes S.A.</li>
								<li><img src="https://placehold.it/1920x1080"/>Grupo Fidanque</li>
							</ul>
							<h1>Individuales</h1>
							<p>Enseña por Panamá está agradecido con las veinte primeras personas que creyeron en nosotros desde el comienzo; han demonstrando su compromiso por disminuir la desigualdad y brindar una educación de calidad a los niños y jóvenes panameños.</p>
							<h1>Institucionales </h1>
							<ul class="medium-block-grid-4">
								<li><img src="https://placehold.it/1920x1080"/>Morgan & Morgan</li>
								<li><img src="https://placehold.it/1920x1080"/>Teach for All</li>
							</ul>
							<p>Enseña por Panamá está agradecido con las agencias de publicidad, medios y empresas que nos apoyan probono con su expertise profesional. Gracias por sumarse desde el inicio!</p>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
</div>
