<div class="main-body">
    <section class="section-featured mb-45">

		<div class="row">
			 <header class="section-head">
                <h2 class="section-title" id="corporativos">Aliados Corporativos</h2><!-- /.section-title -->

                <div class="section-image">
                    <i class="fa fa-bookmark fa-lg"></i>
                </div><!-- /.section-image -->
            </header>

            <div class="row">
                 <div class="column large-4">
                     <p>Enseña por Panamá está agradecido con las compañías que creyeron en nosotros antes de nuestro lanzamiento oficial; han demonstrando su compromiso por disminuir la desigualdad y brindar una educación de calidad a los niños y jóvenes panameños.<p>

                </div>

                <div class="column large-2 mb-45 allies">
                    <img src="{% static 'assets/images/allies/bancogeneral.jpg' %}"/>
                    <br>
                    <img src="{% static 'assets/images/allies/felipemotta.jpg' %}"/>
                </div>
                <div class="column large-2 mb-45 allies">
                    <img src="{% static 'assets/images/allies/feduro.jpg' %}"/>
                </div>
                <div class="column large-2 mb-45 allies">
                    <img src="{% static 'assets/images/allies/almacenajes.jpg' %}"/>
                </div>
                <div class="column large-2 mb-45 allies">
                    <img src="{% static 'assets/images/allies/fidanque.jpg' %}"/>
                </div>

            </div>
            <hr>
        </div>

        <div class="row mt-45">
			 <header class="section-head">
                <h2 class="section-title" id="institucionales">Aliados Institucionales</h2><!-- /.section-title -->

                <div class="section-image">
                    <i class="fa fa-bookmark fa-lg"></i>
                </div><!-- /.section-image -->
            </header>

            <div class="row">


                <div class="column large-4 ">
                     <p>Enseña por Panamá está agradecido con las agencias de publicidad, medios y empresas que nos apoyan probono con su expertise profesional. Gracias por sumarse desde el inicio!<p>

                </div>
                <div class="column large-2 mt--20 allies">
                    <img src="{% static 'assets/images/allies/morgan.jpg' %}"/>
                </div>
                <div class="column large-2 mt--20 allies">
                    <img src="{% static 'assets/images/allies/tfa.jpg' %}"/>
                </div>
                <div class="column large-2 allies">
                  <img src="{% static 'assets/images/allies/unitedway.jpg' %}"/>
                </div>
                <div class="column large-2 allies">
                </div>

            </div>
            <hr>
        </div>
        <div class="row mt-45">
			 <header class="section-head">
                <h2 class="section-title" id="individuales">Aliados Individuales</h2><!-- /.section-title -->

                <div class="section-image">
                    <i class="fa fa-bookmark fa-lg"></i>
                </div><!-- /.section-image -->
            </header>

            <div class="row">


                <div class="column large-12">
                     <p>Enseña por Panamá está agradecido con las agencias de publicidad, medios y empresas que nos apoyan probono con su expertise profesional. Gracias por sumarse desde el inicio!<p>



            </div>

        </div>
		</div><!-- /.row -->
	</section>

</div>
