<div class="main-body">
     <section class="section-featured mb-45">

		<div class="row">
			 <header class="section-head">
                <h2 class="section-title">En Construcción</h2><!-- /.section-title -->

                <div class="section-image">
                    <i class="fa fa-bookmark fa-lg"></i>
                </div><!-- /.section-image -->

                <p>Actualmente estamos trabajando en esta sección. En breve podrá realizar donaciones para colaborar con nuestra organización y ayudar a todos los niños en Panamá</p>
        </header>
      </div>
    </section>
  </div>
