header_title: Conviertete en Alumni
header_name: alumni

{% extends "base.html" %}

{% block body %}

  {% include "page_header.html" %}

	<div class="main-body">
        <section class="section-featured mb-45">
        
		<div class="row">
			 <header class="section-head">
                <h2 class="section-title">Impacto Social</h2><!-- /.section-title -->

                <div class="section-image">
                    <i class="fa fa-bookmark fa-lg"></i>
                </div><!-- /.section-image -->
            </header>
            <div class="column small-12">
                
	
                <h3>El compromiso de <strong>Enseña por Panamá</strong> con la educación de nuestro país no termina en el salón de clases. </h3><br>
                <p>En <strong>Enseña por Panamá</strong> creemos firmemente, que para lograr que más niños accedan una educación de calidad es necesario actuar desde diferentes roles y sectores. Por ello, nuestros egresados (Alumni) seguirán  trabajando por reducir la brecha educativa de sus diferentes profesiones. En Enseña por Panamá le brindaremos el apoyo necesario para poder maximizar su impacto.</p>
                <br>
                <h4 class="image-title">El <span>60%</span> del <i>alumni</i> permanece en el sector educativo</h4>
                <img src="{% static 'assets/images/alumni/alumni.jpg' %}" />

	   
	      </div>
	    </div>

  
        
  

	</section>

	</div>

{% endblock %}
