{% extends "base.html" %}

{% block body %}

  {% include "alumni/header.html" %}

	<div class="main-body">
		<div class="row" data-equalizer="" data-equalizer-mq="large-up">
			<div class="column small-12">
		    <div class="content">
	        <article class="post post-single">
		        <div class="post-body">
		          <div class="entry" itemprop="articleBody">
                <p>El compromiso de Enseña por Panamá con la educación de nuestro país no termina en el salón de clases. </p>
                <p>En Enseña por Panamá creemos firmemente, que para lograr que más niños accedan una educación de calidad es necesario actuar desde diferentes roles y sectores. Por ello, nuestros egresados (Alumni) seguirán  trabajando por reducir la brecha educativa de sus diferentes profesiones. En Enseña por Panamá le brindaremos el apoyo necesario para poder maximizar su impacto.</p>
                <img src="{% static 'assets/images/alumni/alumni.png' %}" />
	            </div>
	          </div>
	        </article>
	      </div>
	    </div>
	  </div>
	</div>

{% endblock %}
