header_name: Inicio
description: Enseña por Panamá es una asociación civil sin fines de lucro que trabaja por  lograr un cambio sistémico que mejore la calidad educativa en Panamá.
{% extends "base.html" %}

{% block body %}

	{% include "index/slider.html" %}

	<section class="section-featured">
		<div class="row">
			<div class="columns small-12">
				<header class="section-head">
					<h4 class="section-title">¿Quienes Somos?</h4>
					<h2 class="section-title">Enseña por Panamá</h2><!-- /.section-title -->

					<div class="section-image">
						<i class="fa fa-bookmark fa-lg"></i>
					</div><!-- /.section-image -->

					<p>
						Enseña por Panamá es una asociación civil sin fines de lucro que trabaja por el desafío de lograr un cambio sistémico que mejore la calidad educativa del país. Buscamos  atraer a  profesionales,  al reto de la educación, para construir un movimiento que aporte a mejorar el sistema educativo.
					</p>
				</header><!-- /.section-head -->

				<div class="section-body">

					<section class="section-updates">
						<div class="row">
							<div class="columns large-5">
								<section class="section-news rojo">
									<header class="section-head">
										<h4 class="section-title"><i class="fa fa-graduation-cap fa-2x"></i> Nuestra Misión</h4><!-- /.section-title -->
									</header><!-- /.section-head -->

									<div class="section-body">
										<div class="slide">
											<div class="slide-content">
												<p>Inspirar un movimiento formado por líderes excepcionales comprometidos a mejorar la calidad de la educación y reducir las desigualdades en Panamá, tomando acción dentro y fuera de las aulas de clases.</p>
											</div>
										</div>
									</div>
								</section><!-- /.section-news -->

								<section class="section-news azul">
									<header class="section-head">
										<h4 class="section-title"><i class="fa fa-binoculars fa-2x"></i> Nuestra Visión</h4><!-- /.section-title -->
									</header><!-- /.section-head -->

									<div class="section-body">
										<div class="slide">
											<div class="slide-content">
												<p>Un día todos los niños y jovenes de Panamá tendrán la oportunidad de recibir una educación de excelencia.</p>
											</div>
										</div>
									</div>
								</section><!-- /.section-news -->
							</div><!-- /.columns large-6 -->

							<div class="columns large-7 ">
								<section class="section-upcoming-event p-0">
                                    
                                    <br>
									<span> <a href="#"><i class="fa fa-video-camera"></i>&nbsp;&nbsp;Presentación Enseña por Panamá</a> | <a href="https://www.youtube.com/channel/UCnLPZ2mm-LJThGNJAcimfWA" target="_blank"><i class="fa fa-youtube-square"></i>&nbsp;&nbsp;Ver Todos los Videos</a></span>
									<!--<img src="{% static 'assets/images/video2.jpg' %}">-->
                                    <iframe width="853" height="480" src="https://www.youtube.com/embed/Krs687DPKS4?rel=0" frameborder="0" allowfullscreen></iframe>
                       
								</section>
							</div><!-- /.columns large-6 -->
						</div><!-- /.row -->
					</section><!-- /.section-updates -->

				</div><!-- /.section-body -->
			</div><!-- /.columns small-12 -->
		</div><!-- /.row -->
	</section><!-- /.section-featured -->

	<div class="callout dark">
	<div class="row">

		<div class="columns large-7">
            <img class="icon-callbox" src="{% static '/assets/images/icon.png' %}">

			<h2 class="callout-title dark">Ayudanos a Dar Educación de Excelencia a los jovenes de Panamá.</h2><!-- /.callout-title -->
		</div><!-- /.columns large-6 -->

		<div class="columns large-5">
			<div class="callout-actions">
				<a href="{% url '/aplica.html' %}" class="button red callbox">¡Aplica a nuestro programa!</a>
			</div><!-- /.callout-actions -->
		</div><!-- /.columns large-6 -->
	</div><!-- /.row -->
</div><!-- /.callout -->

<section class="section-testimonials">
		<div class="section-body">

			<div class="slider-testimonials">
				<div class="row">
					<header class="section-head">
						<h4 class="section-title" style="    line-height: 24px!important;margin-bottom: -10px;font-weight: 700!important;">Testimonios de la red Teach for All</h4>
						<h1 class="section-title">Experiencias Enriquecedoras</h1><!-- /.section-title -->

						<div class="section-image">
							<i class="fa fa-bookmark fa-lg"></i>
						</div><!-- /.section-image -->
					</header>
				</div>

				<div class="row">
					<div class="slider-clip">
						<ul class="slides owl-carousel">

							<li class="slide">
								<div class="slide-entry">

									<div class="columns large-4">
										<img src="{% static 'assets/images/testimonio1.jpg' %}" alt="testimonial">
									</div>
									<div class="columns large-7">
										<p><strong>Perú</strong> - <a href="http://www.ensenaperu.org" target="_blank">Enseña por Perú</a></p>
										<p>
											Hoy fue el primer día de clases; para mí, el primer día de clases más esperado de toda la vida. Primer día en la escuela de San Lorenzo Alto, primer día de ver sus rostros, primer día de escucharlos decir decenas de veces "profesora", primer día de recibir sus sorpresas y cariño... Sentido de posibilidad y amor al 1000% #EsPosible.
											<b>#enseñaperú</b>
										</p>
										<div class="slide-foot">
                      <p><strong>ESTEFANÍA WELSCH</strong><br><span class="small">Administradora -ULima<br>PEP 2014 - Cajamarca, Perú</span></p>
										</div>
									</div>

								</div><!-- /.slide-foot -->
							</li><!-- /.slide -->

							<li class="slide">
								<div class="slide-entry">
									<div class="columns large-7">
										<p><strong>España</strong> - <a href="http://programaexe.org" target="_blank">Empieza por Educar</a></p>
										<p>“Siempre decimos que la desigualdad educativa es un problema de múltiples aristas. Yo he encontrado mi arista: la educación online”.</p>
										<div class="slide-foot">
                      <p><strong>Quim Sabrià</strong><br><span class="small"> España</span></p>
										</div>
									</div>
									<div class="columns large-4">
										<img src="{% static 'assets/images/testimonio2.png' %}" alt="testimonial">
									</div>
								</div><!-- /.slide-foot -->
							</li><!-- /.slide -->

						</ul><!-- /.slides -->
					</div><!-- /.slider-clip -->
				</div><!-- /.row -->
			</div><!-- /.slider-testimonials -->
		</div><!-- /.section-body -->
	</section><!-- /.section-testimonials -->


{% endblock %}
