{% extends "base.html" %}

{% block body %}
<div class="slider-intro">
		<div class="slider-clip">
			<ul class="slides owl-carousel">
				<li class="slide">
					<div class="slide-image fullscreener">
						<img src="{% static 'assets/images/temp/slider-intro-image.jpg' %}" height="890" width="1800" alt="">
					</div><!-- /.slide-image -->

					<div class="slide-content">
						<div class="row">
							<div class="columns large-7">
								<h2 class="slide-title">Puedes hacerlo realidad</h2><!-- /.slide-title -->

								<div class="slide-entry">
									<p>Postula al <b>programa de liderazgo!</b> Tú eres parte del cambio y puedes lograr una educación de excelencia en el país</p>
								</div><!-- /.slide-entry -->
							</div><!-- /.columns large-7 -->

							<div class="columns large-5">
								<div class="slide-aside">
									<div class="slide-tag">Enseña por Panamá</div><!-- /.slide-tag -->

									<div class="slide-progress">
										<div class="slide-raised rojoAlt">
											<span>Estudiantes</span>

											<strong>2.232</strong>
										</div><!-- /.slide-raised -->

										<div class="slide-to-go rojo">
											<span>Candidatos 2015</span>

											<strong>109</strong>
										</div><!-- /.slide-to-go -->
									</div><!-- /.slide-progress -->

									<div class="slide-actions">
										<a class="rojo" href="#">Conozca Enseña Panamá</a>
									</div><!-- /.slide-actions -->
								</div><!-- /.slide-aside -->
							</div><!-- /.columns large-5 -->
						</div><!-- /.row -->
					</div><!-- /.slide-content -->
				</li><!-- /.slide -->

			</ul><!-- /.slides -->
		</div><!-- /.slider-clip -->

		<div class="slider-actions"></div><!-- /.slider-actions -->
	</div><!-- /.slider-intro -->

	<section class="section-featured">
		<div class="row">
			<div class="columns small-12">
				<header class="section-head">
					<h4 class="section-title">¿Quienes Somos?</h4>
					<h2 class="section-title">Enseña por Panamá</h2><!-- /.section-title -->

					<div class="section-image">
						<i class="fa fa-bookmark fa-lg"></i>
					</div><!-- /.section-image -->

					<p>
						Somos una asociación civil sin fines de lucro que trabaja por el desafio de lograr un cambio sistémico que mejore la calidad educativa en Panamá.
						Seleccionamos y entrenamos a jovenes profesionales que se sientan atraidos por el reto de la educación y docencia en centros escolares de alta necesidad.
					</p>
				</header><!-- /.section-head -->

				<div class="section-body">

					<section class="section-updates">
						<div class="row">
							<div class="columns large-5">
								<section class="section-news rojo">
									<header class="section-head">
										<h4 class="section-title"><i class="fa fa-graduation-cap fa-2x"></i> Nuestra Misión</h4><!-- /.section-title -->
									</header><!-- /.section-head -->

									<div class="section-body">
										<div class="slide">
											<div class="slide-content">
												<p>Mejorar la educación para todos en Panamá creando generaciones de cambio que impactan dentro y fuera del aula de clases.</p>
											</div>
										</div>
									</div>
								</section><!-- /.section-news -->

								<section class="section-news azul">
									<header class="section-head">
										<h4 class="section-title"><i class="fa fa-binoculars fa-2x"></i> Nuestra Visión</h4><!-- /.section-title -->
									</header><!-- /.section-head -->

									<div class="section-body">
										<div class="slide">
											<div class="slide-content">
												<p>Un día todos los niños y jovenes de Panamá tendrán la oportunidad de recibir una educación de excelencia.</p>
											</div>
										</div>
									</div>
								</section><!-- /.section-news -->
							</div><!-- /.columns large-6 -->

							<div class="columns large-7 p-0">
								<section class="section-upcoming-event">
									<span> <a href="#"><i class="fa fa-video-camera"></i>&nbsp;&nbsp;Presentación Enseña por Panamá</a> | <a href="#"><i class="fa fa-vimeo-square"></i>&nbsp;&nbsp;Ver Todos los Videos</a></span>
									<img src="{% static 'assets/images/video.jpg' %}">
								</section>
							</div><!-- /.columns large-6 -->
						</div><!-- /.row -->
					</section><!-- /.section-updates -->

				</div><!-- /.section-body -->
			</div><!-- /.columns small-12 -->
		</div><!-- /.row -->
	</section><!-- /.section-featured -->

	<section class="section-sponsor">
		
		<div class="row wide">
            <div class="columns large-6" style="background:#fafafa;">
                <header class="section-head" style="text-align:left; padding:40px 0 0 60px; margin-bottom:-50px;">
						<h4 style="margin-bottom: -10px;color:#444444!important">Enseña por Panamá</h4>
						<h1 class="section-title" style="color:#444444!important">Teoría del Problema</h1><!-- /.section-title -->
						
					</header><!-- /.section-head -->
                
                <img src="{% static '/assets/images/desafiodata.png' %}" style="padding: 126px 101px;margin-top:-50px;">
            </div>
			<div class="columns large-6" style="    background-color: #4D4D4D;">
				<div class="section-inner">
					<header class="section-head">
						<h4 style="margin-bottom: -10px; color:#fff">Enseña por Panamá</h4>
						<h1 class="section-title">Teoría del cambio</h1><!-- /.section-title -->
					
						<p style="color:#fff;">Buscamos atraer a profesionales de diversas carreras al reto de la educación y la docencia en escuelas públicas de<br> alta necesidad y construir un movimiento que aporte y mejore los problemas educativos en Panamá.</p>
					</header><!-- /.section-head -->
					<hr style="  width: 80%;">
					<div class="section-body" style="  color: #fff;  width: 80%;">
                        <div class="columns large-12">
                            <div class="mb-15 mt-15">
                                <img src="{% static '/assets/images/icono1.png' %}" class="icon-left">
                                <p class="icon-left-p">SELECCIÓN DE JÓVENES PROMETEDORES</p>
                            </div>
                            <div>
                                <img src="{% static '/assets/images/icono2.png' %}" class="icon-left">
                                <p class="icon-left-p">FORMACIÓN DE NUESTROS PROFESIONALES</p>
                            </div>
                            <div>
                                <img src="{% static '/assets/images/icono3.png' %}" class="icon-left">
                                <p class="icon-left-p">CULTIVO DE NUEVOS LÍDERES</p>
                            </div>
                            <div>
                                <img src="{% static '/assets/images/icono4.png' %}" class="icon-left">
                                <p class="icon-left-p">IMPULSAMOS UN INPACTO MEDIBLE</p>
                            </div>

                        </div>
					</div><!-- /.section-body -->
					
					<div class="section-foot">
                        
						<a style="margin-top:15px;" href="http://themes.wplook.com/html/charity/index.html#" class="button red">PROGRAMA DE LIDERAZGO</a> <a style="margin-top:15px;" href="http://themes.wplook.com/html/charity/index.html#" class="button red">PERFIL DE CANDIDATO</a>
					</div><!-- /.section-foot -->
				</div><!-- /.section-inner -->
			</div><!-- /.columns large-6 large-push-6 -->
		</div><!-- /.row -->
	</section>

	<div class="callout">
	<div class="row">

		<div class="columns large-7">
            <img class="icon-callbox" src="{% static '/assets/images/icon.png' %}">

			<h2 class="callout-title">Ayudanos a Dar Educación de Escelencia a los jovenes de Panamá.</h2><!-- /.callout-title -->
		</div><!-- /.columns large-6 -->

		<div class="columns large-5">
			<div class="callout-actions">
				<a href="#" class="button blue">Donación</a>

				<a href="#" class="button red">Postularse</a>
			</div><!-- /.callout-actions -->
		</div><!-- /.columns large-6 -->
	</div><!-- /.row -->
</div><!-- /.callout -->

<section class="section-testimonials">
		<div class="section-body">

			<div class="slider-testimonials">
				<div class="row">
					<header class="section-head">
						<h4 class="section-title" style="    line-height: 24px!important;margin-bottom: -10px;font-weight: 700!important;">Testimonios</h4>
						<h1 class="section-title">Experiencias Enriquecedoras</h1><!-- /.section-title -->

						<div class="section-image">
							<i class="fa fa-bookmark fa-lg"></i>
						</div><!-- /.section-image -->
					</header>
				</div>

				<div class="row">
					<div class="slider-clip">
						<ul class="slides owl-carousel">
							<li class="slide">
								<div class="slide-entry">
									<div class="columns large-4">
										<img src="{% static 'assets/images/testimonial1.png' %}" alt="testimonial">
									</div>
									<div class="columns large-7">
										<p>
											Phasellus vitae diam pulvinar, tempus diam et, aliquam tellus. Quisque mattis odio eu placerat luctus.
											Vivamus magna elit, ultrices non lacinia vel, tempor vitae tellus. Fusce sit amet sem sit
											amet risus fringilla dapibus sed sit amet odio.
											<b>#enseñapanama</b>
										</p>
										<div class="slide-foot">
                                            <p><strong>John Doe</strong><br><span class="small">Cargo - Escuela Test<br>2015</span></p>

                                        </div>
									</div>

								</div><!-- /.slide-entry -->
							</li><!-- /.slide -->

							<li class="slide">
								<div class="slide-entry">

									<div class="columns large-4">
										<img src="{% static 'assets/images/testimonial1.png' %}" alt="testimonial">
									</div>
									<div class="columns large-7">
										<p>
											Phasellus vitae diam pulvinar, tempus diam et, aliquam tellus. Quisque mattis odio eu placerat luctus.
											Vivamus magna elit, ultrices non lacinia vel, tempor vitae tellus. Fusce sit amet sem sit
											amet risus fringilla dapibus sed sit amet odio.
											<b>#enseñapanama</b>
										</p>
										<div class="slide-foot">
                                            <p><strong>John Doe</strong><br><span class="small">Cargo - Escuela Test<br>2015</span></p>

                                        </div>
									</div>

								</div><!-- /.slide-foot -->
							</li><!-- /.slide -->

							<li class="slide">
								<div class="slide-entry">
									<div class="columns large-4">
										<img src="{% static 'assets/images/testimonial1.png' %}" alt="testimonial">
									</div>
									<div class="columns large-7">
										<p>
											Phasellus vitae diam pulvinar, tempus diam et, aliquam tellus. Quisque mattis odio eu placerat luctus.
											Vivamus magna elit, ultrices non lacinia vel, tempor vitae tellus. Fusce sit amet sem sit
											amet risus fringilla dapibus sed sit amet odio.
											<b>#enseñapanama</b>
										</p>
										<div class="slide-foot">
                                            <p><strong>John Doe</strong><br><span class="small">Cargo - Escuela Test<br>2015</span></p>

                                        </div>
									</div>
								</div><!-- /.slide-foot -->
							</li><!-- /.slide -->
						</ul><!-- /.slides -->
					</div><!-- /.slider-clip -->
				</div><!-- /.row -->
			</div><!-- /.slider-testimonials -->
		</div><!-- /.section-body -->
	</section><!-- /.section-testimonials -->


{% endblock %}
