{# Teach For All -  Banner #}
<div class="callout tfa-banner">
  <div class="row">
    <div class="columns small-12 text-center">
      <a href="http://teachforall.org/es">
        <img  class="logo" src="{% static 'assets/images/tfa-banner.png' %}"></img>
      </a>
    </div>
  </div>
</div>

<footer class="footer">

  <div class="footer-body">
    <div class="row">
      <div class="columns large-4 medium-12">
        <div class="footer-section">
          <img src="{% static 'assets/images/logodark.png' %}" alt="" />
          <h4 class="footer-section-title"></h4>
          <div class="footer-section-body">
            <p>Enseña por Panamá es una asociación civil sin fines de lucro que trabaja por el desafío de lograr un cambio sistémico que mejore la calidad educativa del país.</p>
          </div><!-- /.footer-section-body -->
        </div><!-- /.footer-section -->
      </div><!-- /.columns large-3 medium-12 -->

      <div class="columns large-4 medium-12">
        <div class="footer-section">
          <h4 class="footer-section-title">Website</h4><!-- /.footer-section-title -->

          <div class="footer-section-body">

            {% for sublist in footer_links %}
              <ul class="list-links">
                {% for item in sublist %}
                  <li><a href="{{ item.url }}">{{ item.title }}</a></li>
                {% endfor %}
              </ul>
            {% endfor %}

          </div><!-- /.footer-section-body -->
        </div><!-- /.footer-section -->
      </div><!-- /.columns large-3 medium-12 -->

      <div class="columns large-4 medium-12">
        <div class="footer-section">
          <h4 class="footer-section-title">Contáctenos</h4><!-- /.footer-section-title -->

          <div class="footer-section-body">

            <div class="footer-contacts">
              <p>
                <span>
                  <i class="fa fa-map-marker"></i>Dirección:
                </span>
                {{ contact_address }}
              </p>

              <p>
                <span>
                  <i class="fa fa-phone"></i> Teléfonos:
                </span>

                {# defined in statics.py #}
                <a href="{{ contact_phone_link }}">{{ contact_phone }}</a>
              </p>

              <p>
                <span>
                  <i class="fa fa-envelope-o"></i> Email:
                </span>

                {# defined in statcis.py #}
                <a href="{{ contact_email_link }}">{{ contact_email }}</a>
              </p>

            </div><!-- /.footer-contacts -->
          </div><!-- /.footer-section-body -->
        </div><!-- /.footer-section -->
      </div><!-- /.columns large-3 medium-12 -->
    </div><!-- /.row -->
  </div><!-- /.footer-body -->

  <div class="footer-bar">
    <div class="row">
      <div class="columns small-12">
        <div class="footer-credits">
          <p>
            2015. Todos los Derechos Reservados <a href="#">Enseña Panamá</a> | Diseñado por <a href="http://bluetideconsulting.com">BlueTide IT Consulting</a>
          </p>
        </div><!-- /.footer-credits -->

        <div class="footer-socials">
          <ul>
            {# defined in statics.py #}
            {% for social_link in social_links %}
              <li>
                <a href="{{ social_link.url }}" target="_blank">
                  <i class="fa {{ social_link.icon }}"></i>
                </a>
              </li>
            {% endfor %}
          </ul>
        </div><!-- /.footer-socials -->
      </div><!-- /.columns small-12 -->
    </div><!-- /.row -->
  </div><!-- /.footer-bar -->
</footer><!-- /.footer -->
