<div class="bar">
  <div class="row">
    <div class="columns small-12">
      <p class="bar-phone">
        <i class="fa fa-phone"></i> Llamenos al: <strong><a href="tel:+5073220437">+507 322 0437</a></strong>
        &nbsp; &nbsp;
        <i class="fa fa-envelope"></i> Email: <strong><a href="mailto:info@ensenaporpanama.com">info@ensenaporpanama.com</a></strong>
      </p><!-- /.bar-phone -->

      <div class="bar-socials">
        <ul>
          {# defined in statics.py #}
          {% for social_link in social_links %}
            <li>
              <a href="{{ social_link.url }}" target="_blank">
                <i class="fa {{ social_link.icon }}"></i>
              </a>
            </li>
          {% endfor %}
        </ul>
      </div><!-- /.bar-socials -->
    </div><!-- /.columns small-12 -->
  </div><!-- /.row -->
</div><!-- /.bar -->
