<div class="bar">
  <div class="row">
    <div class="columns small-12">
      <p class="bar-phone">

        {# defined in statics.py #}
        <i class="fa fa-phone"></i> Llamenos al: <strong><a href="{{ contact_phone_link }}">{{ contact_phone }}</a></strong>
        &nbsp; &nbsp;

        {# defined in statics.py #}
        <i class="fa fa-envelope"></i> Email: <strong><a href="{{ contact_email_link }}">{{ contact_email }}</a></strong>
      </p><!-- /.bar-phone -->

      <div class="bar-socials">
        <ul>
          {# defined in statics.py #}
          {% for social_link in social_links %}
            <li>
              <a href="{{ social_link.url }}" target="_blank">
                <i class="fa {{ social_link.icon }}"></i>
              </a>
            </li>
          {% endfor %}
        </ul>
      </div><!-- /.bar-socials -->
    </div><!-- /.columns small-12 -->
  </div><!-- /.row -->
</div><!-- /.bar -->
