<!DOCTYPE html>
<html class="no-js">
  <head>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Enseña por Panamá</title>
      <link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/images/favicon.ico' %}" />
      <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic">
      <link rel="stylesheet" href="{% static 'assets/css/style.css' %}" />
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  </head>

  <body>
		<div class="wrapper">

      {% include "base_navbar.html" %}
      {% include "base_header.html" %}
      
      <div class="main">
        {% block body %}
        {% endblock %}
      </div>

      {% include "base_footer.html" %}
    </div><!-- /.wrapper -->
    <script src="{% static 'assets/javascripts/vendor.js' %}"></script>
    <script src="{% static 'assets/javascripts/app.js' %}"></script>
    <script src="http://google-maps-utility-library-v3.googlecode.com/svn/trunk/markerwithlabel/src/markerwithlabel.js"></script>

    {% block scripts %}
    {% endblock %}
  </body>
</html>
