<header class="header">
  <div class="row">
    <div class="columns small-12"><a href="{% url '/index.html' %}" class="header-logo">
        <img src="{% static 'assets/images/logo.png' %}" alt="Charity | Foundation">
      </a>

      <div class="header-inner">
        <a href="#" class="button-burger">
          <span></span>
        </a>

        <nav class="nav">
          <ul>

              <li><a href="{% url '/index.html' %}">Inicio</a></li>
              <li><a href="{% url '/about.html' %}">Nosotros</a>
                <ul>
                  <li><a href="{% url '/about.html' %}#staff">Nuestro equipo</a></li>
                  <li><a href="{% url '/about.html' %}#teachforall">Red Teach for All</a></li>
                </ul>
              </li>
              <li><a href="{% url '/challenge.html' %}">El Desafío</a>
                <ul>
                  <li><a href="{% url '/challenge.html' %}#quesucede">¿Qué Sucede?</a></li>
                  <li><a href="{% url '/challenge.html' %}#infografia">Infografía</a></li>
                </ul>
              </li>
              <li><a href="{% url '/leadership.html' %}">Programa de Liderazgo</a>
                <ul>
                  <li><a href="{% url '/leadership.html' %}#buscamos">¿A quién Buscamos?</a></li>
                  <li><a href="{% url '/leadership.html' %}#quienes">¿Quiénes y cómo pueden aplicarse?</a></li>
                  <li><a href="{% url '/leadership.html' %}#preparacion">Preparación</a></li>
                  <li><a href="{% url '/leadership.html' %}#beneficios">¿Cómo te beneficias?</a></li>
                  <li><a href="{% url '/leadership.html' %}#mapa">¿Dónde Estamos?</a></li>
                </ul>
              </li>
              <li><a href="{% url '/alumni.html' %}">Alumni</a></li>
              <li><a href="{% url '/allies.html' %}">Aliados</a>
                <ul>
                  <li><a href="{% url '/allies.html' %}#corporativos">Aliados Corporativos</a></li>
                  <li><a href="{% url '/allies.html' %}#institucionales">Aliados Institucionales</a></li>
                  <li><a href="{% url '/allies.html' %}#educacionales">Aliados Educacionales</a></li>
                  <li><a href="{% url '/allies.html' %}#individuales">Aliados Individuales</a></li>
                </ul>
              </li>
          </ul>
        </nav><!-- /.nav -->

        <div class="header-actions">
          <a href="{% url '/apply.html' %}" class="button red">¡Aplica!</a>
          <a href="{% url '/page-donate.html' %}" class="button blue">Dona</a>
        </div><!-- /.header-actions -->
      </div><!-- /.header-inner --></div><!-- /.columns small-12 -->
  </div><!-- /.row -->
</header><!-- /.header -->
