<div class="bar">
  <div class="row">
    <div class="columns small-12">
      <p class="bar-phone">
        <i class="fa fa-phone"></i> Llamenos al: <strong><a href="tel:+5073220437">+507 322 0437</a></strong>
        &nbsp; &nbsp;
        <i class="fa fa-envelope"></i> Email: <strong><a href="mailto:info@ensenaporpanama.com">info@ensenaporpanama.com</a></strong>
      </p><!-- /.bar-phone -->

      <div class="bar-socials">
        <ul>
          <li>
            <a href="https://www.facebook.com/ensenaxpanama" target="_blank">
              <i class="fa fa-facebook"></i>
            </a>
          </li>

          <li>
            <a href="https://twitter.com/ensenaxpanama" target="_blank">
              <i class="fa fa-twitter"></i>
            </a>
          </li>

          <li>
            <a href="https://instagram.com/ensenaxpanama/" target="_blank">
              <i class="fa fa-instagram"></i>
            </a>
          </li>
        </ul>
      </div><!-- /.bar-socials -->
    </div><!-- /.columns small-12 -->
  </div><!-- /.row -->
</div><!-- /.bar -->
