<div class="main-body">
     <section class="section-featured mb-45">
        
		<div class="row">
			 <header class="section-head">
                <h2 class="section-title">¿Qué sucede?</h2><!-- /.section-title -->

                <div class="section-image">
                    <i class="fa fa-bookmark fa-lg"></i>
                </div><!-- /.section-image -->
            </header>

            <div class="row">
            <div class="column large-4">
                <div class="post-image">
						<a>
							<img class="circle" src="{% static 'assets/images/cuadros/slider3.jpg' %}">
						</a>
					</div>
            </div>
            <div class="column large-8 mb-45">
	        <div class="post-body">
                <ul class="post-items medium-block-grid-2">
                    <li>
                        <h4>
                            <i class="fa fa-exclamation circle" style="padding-left: 13px!important;"></i> Principales problemas
                        </h4>

                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                        <ul class="mt-0">
                            <li>Para 8° básico, sólo el 14.7% sabe lo que debería saber en matemáticas</li>
                            <li>Más del 31.2% enfrentará un embarazo no planificado durante su adolescencia</li>
                            <li>Solo el 20% de los estudiantes que ingresan en 1er grado gradúan de secundaria. </li>
                            <li>Sólo un 20% entrará a la universidad</li>
                            <li>Hoy, sólo 1 en 20 estudiantes en pobreza logran terminar la universidad</li>
                            <li>El 10% de los hogares más pobres recibió apenas el 1.1% del total de los ingresos del país, mientras que el 10% de los más ricos obtuvo el 37.8% del total (Censo nacional de Panama)</li>
                        </ul>
                    </li>

                    <li>
                        <h4>
                            <i class="fa fa-check circle" style="padding-left: 7px!important;"></i> Nuestro Modelo
                        </h4>

                        <p>Enseña por Panamá recluta a los más calificados jóvenes recién graduados y jóvenes profesionales; mediante sesiones de capacitación y tutoría continua, EPP los entrena con métodos de enseñanza innovadora y técnicas profesionales indispensables; EPP los coloca en las escuelas que atiendan a población de alta necesidad por dos años; EPP esta asociada con múltiples redes profesionales para brindarle a los exalumnos diversas oportunidades y poder apoyar a exalumnos a través de sus distintas carreras para que puedan seguir involucrados y trabajando por el mejoramiento de la educación.</p>


                    </ul>
                    </li>

                </ul>

            </div>
        </div>
        </div>
		</div><!-- /.row -->
	</section>
    <section class="section-featured mb-45">
        
		<div class="row">
			 <header class="section-head">
                <h2 class="section-title">Infografía</h2><!-- /.section-title -->

                <div class="section-image">
                    <i class="fa fa-bookmark fa-lg"></i>
                </div><!-- /.section-image -->
            </header>
            <div class="column large-9">
                    <img src="{% static 'assets/images/challenge/infografiaweb.jpg' %}">
            </div>
            <div class="column large-3">
                <h3 class="download-title">Descargar Infografía</h3>
                    <a href="{% static 'assets/images/challenge/infografiaPTY.pdf' %}" class="download-link" target="_blank"><i class="fa fa-file-pdf-o"></i> Formato PDF</a><br>
                    <a href="{% static 'assets/images/challenge/infografia.jpg' %}" class="download-link" target="_blank"><i class="fa fa-image"></i> Formato Imagen (jpg)</a>
            </div>
		</div><!-- /.row -->
	</section>

</div>
