<div class="main-body">
	<div class="row" data-equalizer="" data-equalizer-mq="large-up">
		<div class="column small-12">
	    <div class="content">
        <article class="post post-single">
	        <div class="post-body">
	          <div class="entry" itemprop="articleBody">
							<h1>¿Qué sucede?</h1>
							<p>
								<ul>
									<li>Para 8° básico, sólo el 14.7% sabe lo que debería saber en matemáticas</li>
									<li>Más del 31.2% enfrentará un embarazo no planificado durante su adolescencia</li>
									<li>Solo el 20% de los estudiantes que ingresan en 1er grado gradúan de secundaria. </li>
									<li>Sólo un 20% entrará a la universidad</li>
									<li>Hoy, sólo 1 en 20 estudiantes en pobreza logran terminar la universidad</li>
									<li>El 10% de los hogares más pobres recibió apenas el 1.1% del total de los ingresos del país, mientras que el 10% de los más ricos obtuvo el 37.8% del total (Censo nacional de Panama)</li>
								</ul>
							</p>
              <h1>Nuestro Modelo</h1>
              <p>Enseña por Panamá recluta a los más calificados jóvenes recién graduados y jóvenes profesionales; mediante sesiones de capacitación y tutoría continua, EPP los entrena con métodos de enseñanza innovadora y técnicas profesionales indispensables; EPP los coloca en las escuelas que atiendan a población de alta necesidad por dos años; EPP esta asociada con múltiples redes profesionales para brindarle a los exalumnos diversas oportunidades y poder apoyar a exalumnos a través de sus distintas carreras para que puedan seguir involucrados y trabajando por el mejoramiento de la educación.</p>
              <h1>Educación en Panamá</h1>
              <img src="{% static 'assets/images/challenge/challenge_1.png' %}">
              <div class="row space-1"></div>
              <img src="{% static 'assets/images/challenge/challenge_2.png' %}">
              <div class="row space-1"></div>
              <img src="{% static 'assets/images/challenge/challenge_3.png' %}">
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
</div>
