<div class="main-body">
  <section class="section-featured mb-45">

		<div class="row">

      <div class="columns medium-8">
			 <header class="section-head">
          <h2 class="section-title">Consejos para llenar la aplicación</h2><!-- /.section-title -->

          <div class="section-image">
              <i class="fa fa-bookmark fa-lg"></i>
          </div><!-- /.section-image -->
        </header>

        <div class="post-body">
          <p><ul class="recomendaciones">
            <li><span class="icon circle">1</span>Ten cuenta que la persona que revisará tu postulación no te conoce. Por lo tanto, explica quién eres y qué cosas han conseguido, de manera clara y concisa. </li>
            <li><span class="icon circle">2</span>Cada detalle importa: cuenta tu experiencia en las actividades que has participado, indica de manera específica tu rol en dicha actividad, cuántas personas tuviste a tu cargo y cuáles fueron los resultados.</li>
            <li><span class="icon circle">3</span>Responde las preguntas y profundiza tus ideas.  Respalda tus respuestas en un archivo en caso de que nuestra plataforma tenga algún problema.</li>
            <li><span class="icon circle">4</span>Revisa bien la ortografía de tu postulación y respeta las reglas de puntuación. </li>
            <li><span class="icon circle">5</span>No es necesario solicitar cartas de recomendación a tus referencias.  Sólo debes completar los datos de la referencia.</li>
            <li><span class="icon circle">6</span>Si tienes dudas o preguntas sobre la postulación, escríbenos a info@ensenaporpanama.com</li>
          </ul></p>
          <br>
          <h3>No esperes hasta último minuto. Completa tu postulación antes y asegúrate.</h3>
        </div>

      </div>

        <div class="columns medium-4">
  			 <header class="section-head">
            <h2 class="section-title">Aplica Ya</h2><!-- /.section-title -->

            <div class="section-image">
                <i class="fa fa-bookmark fa-lg"></i>
            </div><!-- /.section-image -->
          </header>

          <div class="post-body">
            <a class="button red callbox" href="https://www.tfaforms.com/390838">Paso 1: Regístrate</a>
            <a class="button red callbox" href="https://www.tfaforms.com/387922">Paso 2: Postúlate</a>
          </div>
        </div>
      </div>

  </section>
</div>
