<section class="section-featured mb-45">

<div class="row">
   <header class="section-head">
            <h2 class="section-title" id="mapa">¿Dónde estamos?</h2><!-- /.section-title -->

            <div class="section-image">
                <i class="fa fa-bookmark fa-lg"></i>
            </div><!-- /.section-image -->
        </header>

        <div class="row">

        <div class="column small-12 mb-45">
             <img src="{% static '/static/assets/images/leadership/dondeestamos.jpg' %}">
        </div>

    </div>
</div><!-- /.row -->
</section>
