<div class="main-body">

  <section class="section-featured mb-45">



      <div class="row">
        <div class="column large-8 mb-45">
          <header class="section-head">
            <h2 class="section-title" id="quienes">¿Quiénes y cómo pueden aplicarse?</h2>

            <div class="section-image">
                <i class="fa fa-bookmark fa-lg"></i>
            </div><!-- /.section-image -->

          </header>
          <div class="post-body">
            <p>Para unirte al Programa de Liderazgo, debes cumplir los siguientes requisitos:</p>
            <ul>
              <li>Ser graduado universitario o estar en proceso de obtener el título en el año actual.</li>
              <li>Tener de 20 a 30 años al momento de la aplicación.</li>
              <li>Posibilidad de comprometerte por dos años.</li>
            </ul>
          </div>
          <div class="section-foot columns large-12">

            <a style="margin-top:15px;" href="{% url '/aplica.html' %}" class="button blue">¡Aplica Aquí!</a>
          </div><!-- /.section-foot -->
        </div>

        <div class="column large-4">
          <div class="post-image">
            <a>
              <img class="circle" src="{% static 'assets/images/cuadros/slider7.jpg' %}">
            </a>
          </div>
        </div>

      </div>


  </section>

</div>
