<div class="main-body">

  <section class="section-featured mb-45">

  <div class="row">
     <header class="section-head">
              <h2 class="section-title" id="beneficios">¿CÓMO TE BENEFICIAS?</h2><!-- /.section-title -->

              <div class="section-image">
                  <i class="fa fa-bookmark fa-lg"></i>
              </div><!-- /.section-image -->
          </header>

          <div class="row">

          <div class="column large-8 mb-45">
        <div class="post-body">
              <ul class="post-items medium-block-grid-2">
                  <li>
                      <h4>
                          <i class="fa fa-check circle"></i> Pertenecer a una red de líderes
                      </h4>
                      <p>Te ayudará a potenciar tus habilidades para convertirte en agente de cambio y transformar la realidad del país. En especial el programa ayuda a:<p>
                      <ul>
                        <li>Tener una real experiencia de crecimiento profesional y liderazgo en los diferentes espacios en los que se desarrolla el proyecto. </li>
                        <li>Poseer una visión ambiciosa del futuro del país.</li>
                        <li>Motivarse, no solo por tus intereses sino por las necesidades de las comunidades.</li>
                        <li>Adaptarse a situaciones nuevas.</li>
                        <li>Demostrar perseverancia frente a los desafíos que se presentan.</li>
                        <li>Valorar la diversidad y conectar con personas con experiencias de vida distintas a las propias.</li>
                      </ul>
                  </li>

                  <li>
                      <h4>
                          <i class="fa fa-check circle"></i> Desarrollo de competencias
                      </h4>

                      <p>La experiencia de Enseña por Panamá, trasciende el impacto en la sala de clase y es una alternativa de desarrollo profesional que ayuda a los participantes a prepararse para afrontar futuros desafíos en su carrera laboral.</p>
                      <p>Fortalece y desarrolla habilidades tales como:</p>
            <ul>
              <li>Liderazgo</li>
              <li>Manejo de equipos multidisciplinarios</li>
              <li>Trabajar en torno a resultados</li>
              <li>Comunicación</li>
              <li>Capacidad para resolver problemas</li>
              <li>Pensamiento estratégico</li>
              <li>Influenciar positivamente y motivar a otros</li>
              <li>Relacionarse con actores de diferentes contextos</li>
              <li>Entendimiento de la realidad del país</li>
            </ul>

                  </li>
                  <hr>
                  <li >


                      <h4><i class="fa fa-check circle"></i> Desarrollo aplicado a la profesión</h4>
            <p>Los participantes podrán proponer proyectos dentro de su colegio asignado en los que apliquen lo aprendido durante su formación. Tendrás salario y estabilidad y podrás proponer proyectos, por ejemplo:</p>
            <ul>
              <li>Como contador(a) – implementar un sistema contable más eficiente</li>
              <li>Como ingeniero(a) de sistemas – mejorar procesos internos o sistematizar tareas</li>
              <li>Como ingeniero(a) ambiental – realizar campañas para la valoración y cuidado del medio ambiente</li>
            </ul>
                  </li>
                  <li >
                      <h4>
                          <i class="fa fa-check circle"></i> Oportunidades durante y post-programa
                      </h4>

                      <ul>
                        <li>Capacitaciones y conexiones con la red mundial Teach For All, con presencia en 37 países del mundo</li>
                        <li>Importantes empresarios, compañías y patrocinadores del proyecto, se han ofrecido a mantener estrecha relación con los participantes del programa por medio de mentorías.</li>
                      </ul>
                  </li>

              </ul>

          </div>
      </div>
      <div class="column large-4">
          <div class="post-image">
                  <a>
                      <img class="circle" src="{% static 'assets/images/cuadros/slider10.jpg' %}">
                  </a>
              </div>
      </div>
      </div>
  </div><!-- /.row -->
</section>

</div>
