<div class="main-body">
    
  <section class="section-featured mb-45">

		<div class="row">
			 <header class="section-head">
                <h2 class="section-title" id="buscamos">¿Cómo lo hacemos?</h2><!-- /.section-title -->
                
                <div class="section-image">
                    <i class="fa fa-bookmark fa-lg"></i>
                </div><!-- /.section-image -->
                 <br>
            </header>

            <div class="row">
            <div class="column large-4">
                <div class="post-image">
						<a>
							<img class="circle" src="{% static 'assets/images/cuadros/slider6.jpg' %}">
						</a>
					</div>
            </div>
            <div class="column large-8 mb-45">
                
	        <div class="section-inner">
                <h4>Buscamos atraer a <strong>profesionales de diversas carreras al reto de la educación</strong> y la docencia en escuelas públicas de alta necesidad y construir un movimiento que aporte y mejore los problemas educativos en Panamá.</h4>
    
            <hr style="  width: 80%;">

            <div class="section-body">
                          <div class="columns large-12">

                              <div class="mb-15 mt-15">

                                  <img src="{% static '/assets/images/icono1.png' %}" class="icon-left">
                                  <p class="icon-left-p"><strong>Reclutando a los jóvenes líderes</strong> más prometedores de Panamá en la lucha para cerar la brecha de oportunidsades en nuestro país mediante la transformación de aulas, escuelas y comunidades enteras.</p>
                              </div>
                              <div>
                                  <img src="{% static '/assets/images/icono2.png' %}" class="icon-left">
                                  <p class="icon-left-p"><strong>Formar a los participantes</strong> para que desarrollen las habilidades, la mentalidad y los conocimientos necesarios para maximizar el impacto en el rendimiento estudiantil.</p>
                              </div>
                              <div>
                                  <img src="{% static '/assets/images/icono3.png' %}" class="icon-left">
                                  <p class="icon-left-p"><strong>Cultivando los futuros líderes</strong> en puestos regulares de enseñanza por 2 años en áreas de alta necesidad educativa, con clara responsabilidad sobre los resultados en sus salones de clase.</p>
                              </div>
                              <div>
                                  <img src="{% static '/assets/images/icono4.png' %}" class="icon-left">
                                  <p class="icon-left-p"><strong>Impulsar un impacto medible</strong> en el rendimiento de los estudiantes en el corto y, en el largo plazo, en el desarrollo de líderes que ayudarán a asegurar oportunidades educativas para todos.</p>
                              </div>

                          </div>
            </div><!-- /.section-body -->

            <div class="section-foot columns large-12">

              <a style="margin-top:15px;" href="{% url '/desafio.html' %}" class="button blue">CONOZCA EL DESAFIO</a>
            </div><!-- /.section-foot -->
        </div><!-- /.section-inner -->
        </div>
        </div>
		</div><!-- /.row -->
	</section>


</div>
