<div class="main-body">
    <section class="section-featured mb-45">

		<div class="row">
			 <header class="section-head">
                <h2 class="section-title" id="buscamos">¿A quién buscamos?</h2><!-- /.section-title -->

                <div class="section-image">
                    <i class="fa fa-bookmark fa-lg"></i>
                </div><!-- /.section-image -->
            </header>

            <div class="row">
            <div class="column large-4">
                <div class="post-image">
						<a>
							<img class="circle" src="{% static 'assets/images/cuadros/slider11.jpg' %}">
						</a>
					</div>
            </div>
            <div class="column large-8 mb-45">

	        <div class="post-body">
                <ul class="post-items medium-block-grid-2">
                    <li>
                        <h4>
                            <i class="fa fa-user circle" style="padding-left: 9px!important;"></i> Jovenes Profesionales
                        </h4>

                        <p>Buscamos a jóvenes profesionales con la voluntad de transformar el país y que:</p>
                        <ul class="mt-0">
                            <li>Tengan conciencia social</li>
                            <li>Se sientan empoderados para generar cambios</li>
                        </ul>
                    </li>

                    <li>
                        <h4>
                            <i class="fa fa-graduation-cap circle" style="padding-left: 6px!important;"></i> Logro académico
                        </h4>

                        <ul>
                            <li>Tengan pensamiento crítico</li>
                            <li>Sean graduados de la universidad</li>
                        </ul>
                        <ul>

                    </ul>
                    </li>

                    <li class="full-width">
                        <h4>
                            <i class="fa fa-flag circle"></i> Líderes:
                        </h4>

                        <ul>
                            <li>Sean íntegros y perseverantes</li>
                            <li>Generadores de soluciones innovadoras</li>
                        </ul>
                    </li>

                </ul>

            </div>
        </div>
        </div>
		</div><!-- /.row -->
	</section>

</div>
