<div class="main-body">
	<div class="row" data-equalizer="" data-equalizer-mq="large-up">

		<div class="column small-8 small-offset-2">
	    <div class="content">

        <article class="post">

					<header class="post-head">
						<h3 class="post-title">
							¿A quién buscamos?
						</h3>
					</header>

					<div class="post-image">
						<a>
							<img src="{% static slider_image_list.0 %}" alt="" height="357" width="770">
						</a>
					</div>

					<div class="post-meta">
					</div>

	        <div class="post-body">
	          <div class="entry" itemprop="articleBody">
							<ul class="post-items medium-block-grid-3">
								<li>
									<h4>
										<i class="fa fa-user"></i> A jóvenes profesionales capaces de:
									</h4>
									<p>
										<ul>
											<li>Tener conciencia social</li>
											<li>Ser empoderados</li>
										</ul>
									</p>
								</li>

								<li>
									<h4>
										<i class="fa fa-certificate"></i> Logro academico
									</h4>
									<p>
										<ul>
											<li>Pensar críticamente</li>
											<li>Perseverantes</li>
										</ul>
									</p>
								</li>

								<li>
									<h4>
										<i class="fa fa-flag"></i> Líderes:
									</h4>
									<p>
										<ul>
											<li>Generadores de soluciones innovadoras</li>
											<li>Graduados de la Universidad</li>
										</ul>
									</p>
								</li>

							</ul>
						</div>
					</div>
				</article>

				<article class="post">

					<header class="post-head">
						<h3 class="post-title">
							¿Cómo lo hacemos?
						</h3>
					</header>

					<div class="post-body">
	          <div class="entry" itemprop="articleBody">
              <img src="https://placehold.it/1920x1080">
						</div>
					</div>

				</article>

				<article class="post">

					<header class="post-head">
						<h3 class="post-title">
							Preparación
						</h3>
					</header>

					<div class="post-image">
						<a>
							<img src="{% static slider_image_list.1 %}" alt="" height="357" width="770">
						</a>
					</div>

					<div class="post-body">
	          <div class="entry" itemprop="articleBody">
							<h3>Pre-Instituto de Entrenamiento (2 semanas)</h3>
							<p>El objetivo principal es brindar la introducción teórica de la misión, visión y valores de Enseña Panamá y todo lo que involucra ser parte de la red de Teach for All. Es la primera etapa de transmitir la cultura de cambio de Enseña Panamá a sus nuevos integrantes.</p>
							<p>Al ser una etapa de pre-entrenamiento, se ofrece elementos informativos (lecturas, videos, etc.) sobre el estado actual de la educación en el país y otros temas relevantes con la intención de que los PEP puedan ir conociendo el sector en el que se desenvolverán los próximos años de su vida.</p>
							<p>Finalmente se incluirá herramientas de reflexión y análisis. Las primeras tareas significativas son las Visitas a escuelas vulnerables y la Observación de una clase (análisis de la misma).</p>
							<h3>El Instituto de Verano (4 semanas)</h3>
							<p>El Instituto de Verano- INVE es la etapa intensiva de entrenamiento y formación de 4 semanas donde se combina la teoría (metodología de Teach For All[SM1] ) y la práctica de la docencia y liderazgo transformacional. Los PEP iniciarán el involucramiento al 100% de la cultura del movimiento de Enseña Panamá y la construcción de identidad compartida por cada uno de los miembros.</p>
							<p>Es una etapa intensiva y exigente de aprendizaje, para adquirir experiencia y conocimiento antes de iniciar el trabajo. Consiste en lecturas, talleres prácticos, y sesiones de clase con alumnos del contexto de los escuelas que serán asignadas. </p>
							<p>El joven maestro obtendrá: </p>
							<ul>
								<li>La confianza para manejar el grupo de alumnos, de la edad y grado asignados, y para manejar la materia a que esta asignada.</li>
								<li>El conocimiento de metodología y pedagogía del aula.</li>
								<li>La expectativa que los alumnos van a lograr un nivel de alto rendimiento.</li>
								<li>La sensibilidad y capacidad de penetrar en la comunidad donde asignado y en la escuela, y hacer las conexiones profundas y necesarias con stakeholders allí para poder lograr cambios positivas en el ambiente educativo.</li>
								<li>La fuerza de perseverar bajo circunstancias desafiantes. </li>
							</ul>
							<p>En su práctica pedagógica en el aula los profesores de Enseña por Panamá logran: </p>
							<ol>
								<li>Definir grandes metas.</li>
								<li>Incentivar a los estudiantes, y a sus padres, y apoderarlos para que cumplan las metas.</li>
								<li>Planificar con un propósito.</li>
								<li>Ejecutar clases claras y efectivas.</li>
								<li>Trabajar con persistencia.</li>
								<li>Evaluar y mejorar la efectividad.</li>
								<li>Ser un modelo integral.</li>
							</ol>
							<h3>Apoyo continuo</h3>
							<p>Asegurar su desarrollo como profesores:</p>
							<p>Es la etapa en la que los PEP son designados a sus colegios y requieren de un soporte y asesoría continua a cargo de especialistas a quienes se denominará Tutores PEP, esta es la fase continua de ciclos de observación.</p>
							<p>Los Tutores PEP son los responsables del acompañamiento y contacto permanente con los PEP donde analizan los procesos de evaluación y soporte.</p>
						</div>
					</div>

				</article>

				<article class="post">
					<header class="post-head">
						<h3 class="post-title">
							¿Cómo te beneficias?
						</h3>
					</header>

					<div class="post-image">
						<a>
							<img src="{% static slider_image_list.2 %}" alt="" height="357" width="770">
						</a>
					</div>

					<div class="post-body">
	          <div class="entry" itemprop="articleBody">
							<h3>Desarrollo de competencias</h3>
							<p>La experiencia de Enseña por Panamá, trasciende el impacto en la sala de clase y es una alternativa de desarrollo profesional que ayuda a los participantes a prepararse para afrontar futuros desafíos en su carrera laboral. Fortalece y desarrolla habilidades tales como:<p>
							<ul>
							  <li>Manejo de equipos multidisciplinarios</li>
							  <li>Capacidad para resolver problemas</li>
							  <li>Pensar estratégicamente</li>
							  <li>Liderazgo</li>
							  <li>Relacionarse con actores de diferentes contextos</li>
							  <li>Herramientas para potencializar los resultados de su equipo</li>
							  <li>Será un jefe responsable por los resultados de su equipo.</li>
							  <li>Influencias positivamente y motivar a otros</li>
							  <li>Orientación a resultados</li>
							  <li>Entendimiento de la realidad del país</li>
							</ul>
							<h3>Ser parte del Programa de Liderazgo</h3>
							<p>Te ayudará a potenciar tus habilidades para convertirte en agente de cambio listo para enfrentar cualquier sistema laboral y contribuir a cambiar la realidad del país. En especial el programa ayuda a:</p>
							<ul>
							  <li>Una real experiencia de crecimiento profesional y liderazgo en los diferentes espacios en los que se desarrollan el proyecto</li>
							  <li>Poseer una visión ambiciosa del futuro del país</li>
							  <li>¡Motivación! No sólo por sus propios intereses sino también por las necesidades de suscomunidades</li>
							  <li>Adaptarse a situaciones nuevas</li>
							  <li>Demostrar perseverancia frente a los desafíos que se presentan</li>
							  <li>Valorar la diversidad y poseerán un gran respeto por personas con experiencias de vida distintas a las propias</li>
							</ul>
							<h3>Desarrollo aplicado a la profesión</h3>
							<p>Dentro de escuelas, los participantes podrán proponer proyectos dentro de su colegio asignado en los que apliquen lo aprendido durante su formación. Tendrán salarios y estabilidad. Por ejemplo:</p>
							<ul>
							  <li>Como contador(a) – implementar un sistema contable más eficiente</li>
							  <li>Como ingeniero(a) de sistemas – mejorar procesos internos o sistematizar tareas</li>
							  <li>Como ingeniero(a) ambiental – realizar campañas para la valoración y cuidado del medio ambiente</li>
							</ul>
							<h3>Oportunidades durante y post-programa</h3>
							<ul>
							  <li>Capacitaciones y conexiones con la red mundial Teach For All, con presencia en 37 países del mundo</li>
							  <li>Importantes empresarios, compañías y patrocinadores del proyecto, se han ofrecido a mantener estrecha comunicación con los participantes del programa por medio de mentorías.</li>
							</ul>
						</div>
					</div>
				</article>

				<article class="post">

					<header class="post-head">
						<h3 class="post-title">
							¿Dónde estamos?
						</h3>
					</header>

					<div class="post-body">
	          <div class="entry" itemprop="articleBody">
							<img src="https://placehold.it/1920x1080">
						</div>
					</div>

				</article>

      </div>
    </div>
  </div>
</div>
