<div class="main-body">
    <section class="section-featured mb-45">
        
		<div class="row">
			 <header class="section-head">
                <h2 class="section-title">¿A quién buscamos?</h2><!-- /.section-title -->

                <div class="section-image">
                    <i class="fa fa-bookmark fa-lg"></i>
                </div><!-- /.section-image -->
            </header>

            <div class="row">
            <div class="column large-4">
                <div class="post-image">
						<a>
							<img class="circle" src="{% static 'assets/images/cuadros/slider11.jpg' %}">
						</a>
					</div>
            </div>
            <div class="column large-8 mb-45">
	        <div class="post-body">
                <ul class="post-items medium-block-grid-2">
                    <li>
                        <h4>
                            <i class="fa fa-user circle" style="padding-left: 9px!important;"></i> Jovenes Profesionales
                        </h4>

                        <p>Buscamos jovenes recién graduados que tengan la capacidad de:</p>
                        <ul class="mt-0">
                            <li>Tener conciencia social</li>
                            <li>Ser empoderados</li>
                        </ul>
                    </li>

                    <li>
                        <h4>
                            <i class="fa fa-graduation-cap circle" style="padding-left: 6px!important;"></i> Logro academico
                        </h4>

                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                        <ul>
                            <li>Pensar críticamente</li>
                            <li>Perseverantes</li>
                        </ul>
                        <ul>

                    </ul>
                    </li>

                    <li class="full-width">
                        <h4>
                            <i class="fa fa-flag circle"></i> Líderes:
                        </h4>

                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <ul>
                            <li>Generadores de soluciones innovadoras</li>
                            <li>Graduados de la Universidad</li>
                        </ul>
                    </li>

                </ul>

            </div>
        </div>
        </div>
		</div><!-- /.row -->
	</section>
    
    <section class="section-sponsor">
		
		<div class="row wide" style="background-size: cover;  background:URL('http://placehold.it/1903x1080');">
            <div class="columns large-6" >
                

            </div>
			<div class="columns large-6" style="background-color: #4D4D4D;">
				<div class="section-inner">
					<header class="section-head">
						<h4 style="margin-bottom: -10px; color:#fff">Enseña por Panamá</h4>
						<h1 class="section-title">¿CÓMO LO HACEMOS?</h1><!-- /.section-title -->
					
						<p style="color:#fff;">Buscamos atraer a profesionales de diversas carreras al reto de la educación y la docencia en escuelas públicas de<br> alta necesidad y construir un movimiento que aporte y mejore los problemas educativos en Panamá.</p>
					</header><!-- /.section-head -->
					<hr style="  width: 80%;">
                    
					<div class="section-body" style="  color: #fff;  width: 80%;">
                        <div class="columns large-12">
                            <div class="mb-15 mt-15">
                                <img src="{% static '/assets/images/icono1.png' %}" class="icon-left">
                                <p class="icon-left-p"><strong>Reclutando a los jóvenes líderes</strong> más prometedores de Panamá en la lucha para cerar la brecha de oportunidsades en nuestro país mediante la transformación de aulas, escuelas y comunidades enteras.</p>
                            </div>
                            <div>
                                <img src="{% static '/assets/images/icono2.png' %}" class="icon-left">
                                <p class="icon-left-p"><strong>Formar a los participantes</strong> para que desarrollen las habilidades, la mentalidad y los conocimientos necesarios para maximizar el impacto en el rendimiento estudiantil.</p>
                            </div>
                            <div>
                                <img src="{% static '/assets/images/icono3.png' %}" class="icon-left">
                                <p class="icon-left-p"><strong>Cultivando los futuros líderes</strong> en puestos regulares de enseñanza por 2 años en áreas de alta necesidad educativa, con clara responsabilidad sobre los resultados en sus salones de clase.</p>
                            </div>
                            <div>
                                <img src="{% static '/assets/images/icono4.png' %}" class="icon-left">
                                <p class="icon-left-p"><strong>Impulsar un impacto medible</strong> en el rendimiento de los estudiantes en el corto y, en el largo plazo, en el desarrollo de líderes que ayudarán a asegurar oportunidades educativas para todos.</p>
                            </div>

                        </div>
					</div><!-- /.section-body -->
					
					<div class="section-foot columns large-12">
                        
						<a style="margin-top:15px;" href="http://themes.wplook.com/html/charity/index.html#" class="button red">CONOZCA EL DESAFIO</a> 
					</div><!-- /.section-foot -->
				</div><!-- /.section-inner -->
			</div><!-- /.columns large-6 large-push-6 -->
		</div><!-- /.row -->
	</section>
    <section class="section-featured mb-45">
        
		<div class="row">
			 <header class="section-head">
                 <h4 class="top-title">Enseña por Panamá</h4>
                <h2 class="section-title">Preparación</h2><!-- /.section-title -->

                <div class="section-image">
                    <i class="fa fa-bookmark fa-lg"></i>
                </div><!-- /.section-image -->
                 
            </header>

            <div class="row">
                <div class="column large-4">
                <div class="post-image">
						<a>
							<img class="circle" src="{% static 'assets/images/cuadros/slider8.jpg' %}">
						</a>
					</div>
                </div>
            
                <div class="column large-8 mb-45">
                    <div class="post-body">
                        <span class="right small-text"> <i class="fa fa-arrow-down"></i>&nbsp;&nbsp;Proceso de Preparación</span>
                        <dl class="accordion" data-accordion="">
                            <dd class="accordion-navigation">
                                <a href="#panel1b" aria-expanded="true"><span class="number-circle">1</span> Pre-Instituto de Entrenamiento (2 semanas)</a>
                                <div id="panel1b" class="content active">
                                    <p>El objetivo principal es brindar la <strong>introducción teórica de la misión, visión y valores de Enseña Panamá</strong> y todo lo que involucra ser parte de la red de Teach for All. Es la primera etapa de transmitir la cultura de cambio de Enseña Panamá a sus nuevos integrantes.</p>
                                    <p>Al ser una etapa de pre-entrenamiento, se ofrece elementos informativos (lecturas, videos, etc.) sobre el estado actual de la educación en el país y otros temas relevantes con la intención de que los PEP puedan ir conociendo el sector en el que se desenvolverán los próximos años de su vida.</p>
                                    <p>Finalmente se incluirá herramientas de reflexión y análisis. Las primeras tareas significativas son las Visitas a escuelas vulnerables y la Observación de una clase (análisis de la misma).</p>
                                </div>
                            </dd>
                            <dd class="accordion-navigation">
                                <a href="#panel2b" aria-expanded="false"><span class="number-circle">2</span> El Instituto de Verano (4 semanas)</a>
                                <div id="panel2b" class="content">
                                    <p>El Instituto de Verano- INVE es la etapa intensiva de entrenamiento y formación de 4 semanas donde se combina la teoría (metodología de Teach For All[SM1] ) y la práctica de la docencia y liderazgo transformacional. Los PEP iniciarán el involucramiento al 100% de la cultura del movimiento de Enseña Panamá y la construcción de identidad compartida por cada uno de los miembros.</p>
                                    <p>Es una etapa intensiva y exigente de aprendizaje, para adquirir experiencia y conocimiento antes de iniciar el trabajo. Consiste en lecturas, talleres prácticos, y sesiones de clase con alumnos del contexto de los escuelas que serán asignadas. </p>
                                    <p>El joven maestro obtendrá: </p>
                                    <ul>
                                        <li>La confianza para manejar el grupo de alumnos, de la edad y grado asignados, y para manejar la materia a que esta asignada.</li>
                                        <li>El conocimiento de metodología y pedagogía del aula.</li>
                                        <li>La expectativa que los alumnos van a lograr un nivel de alto rendimiento.</li>
                                        <li>La sensibilidad y capacidad de penetrar en la comunidad donde asignado y en la escuela, y hacer las conexiones profundas y necesarias con stakeholders allí para poder lograr cambios positivas en el ambiente educativo.</li>
                                        <li>La fuerza de perseverar bajo circunstancias desafiantes. </li>
                                    </ul>
                                    <p>En su práctica pedagógica en el aula los profesores de Enseña por Panamá logran: </p>
                                    <ol>
                                        <li>Definir grandes metas.</li>
                                        <li>Incentivar a los estudiantes, y a sus padres, y apoderarlos para que cumplan las metas.</li>
                                        <li>Planificar con un propósito.</li>
                                        <li>Ejecutar clases claras y efectivas.</li>
                                        <li>Trabajar con persistencia.</li>
                                        <li>Evaluar y mejorar la efectividad.</li>
                                        <li>Ser un modelo integral.</li>
                                    </ol>
                                </div>
                            </dd>
                            <dd class="accordion-navigation">
                                <a href="#panel3b" aria-expanded="false"><span class="number-circle">3</span> Apoyo continuo</a>
                                <div id="panel3b" class="content">
                                    <p>Asegurar su desarrollo como profesores:</p>
                                    <p>Es la etapa en la que los PEP son designados a sus colegios y requieren de un soporte y asesoría continua a cargo de especialistas a quienes se denominará Tutores PEP, esta es la fase continua de ciclos de observación.</p>
                                    <p>Los Tutores PEP son los responsables del acompañamiento y contacto permanente con los PEP donde analizan los procesos de evaluación y soporte.</p>
                                </div>
                            </dd>
                        </dl>
					</div>
                </div>
           
                
            </div>
		</div><!-- /.row -->
	</section>
    <section class="section-featured mb-45">
        
		<div class="row">
			 <header class="section-head">
                <h2 class="section-title">¿CÓMO TE BENEFICIAS?</h2><!-- /.section-title -->

                <div class="section-image">
                    <i class="fa fa-bookmark fa-lg"></i>
                </div><!-- /.section-image -->
            </header>

            <div class="row">
            
            <div class="column large-8 mb-45">
	        <div class="post-body">
                <ul class="post-items medium-block-grid-2">
                    <li>
                        <h4>
                            <i class="fa fa-check circle"></i> Desarrollo de competencias
                        </h4>
                        <p>La experiencia de Enseña por Panamá, trasciende el impacto en la sala de clase y es una alternativa de desarrollo profesional que ayuda a los participantes a prepararse para afrontar futuros desafíos en su carrera laboral. Fortalece y desarrolla habilidades tales como:<p>
                        <ul>
                          <li>Manejo de equipos multidisciplinarios</li>
                          <li>Capacidad para resolver problemas</li>
                          <li>Pensar estratégicamente</li>
                          <li>Liderazgo</li>
                          <li>Relacionarse con actores de diferentes contextos</li>
                          <li>Herramientas para potencializar los resultados de su equipo</li>
                          <li>Será un jefe responsable por los resultados de su equipo.</li>
                          <li>Influencias positivamente y motivar a otros</li>
                          <li>Orientación a resultados</li>
                          <li>Entendimiento de la realidad del país</li>
                        </ul>
                    </li>

                    <li>
                        <h4>
                            <i class="fa fa-check circle"></i> Ser parte del Programa de Liderazgo
                        </h4>

                        <p>Te ayudará a potenciar tus habilidades para convertirte en agente de cambio listo para enfrentar cualquier sistema laboral y contribuir a cambiar la realidad del país. En especial el programa ayuda a:</p>
							<ul>
							  <li>Una real experiencia de crecimiento profesional y liderazgo en los diferentes espacios en los que se desarrollan el proyecto</li>
							  <li>Poseer una visión ambiciosa del futuro del país</li>
							  <li>¡Motivación! No sólo por sus propios intereses sino también por las necesidades de suscomunidades</li>
							  <li>Adaptarse a situaciones nuevas</li>
							  <li>Demostrar perseverancia frente a los desafíos que se presentan</li>
							  <li>Valorar la diversidad y poseerán un gran respeto por personas con experiencias de vida distintas a las propias</li>
							</ul>
      
                    </li>
                    <hr>
                    <li >


                        <h4><i class="fa fa-check circle"></i> Desarrollo aplicado a la profesión</h4>
							<p>Dentro de escuelas, los participantes podrán proponer proyectos dentro de su colegio asignado en los que apliquen lo aprendido durante su formación. Tendrán salarios y estabilidad. Por ejemplo:</p>
							<ul>
							  <li>Como contador(a) – implementar un sistema contable más eficiente</li>
							  <li>Como ingeniero(a) de sistemas – mejorar procesos internos o sistematizar tareas</li>
							  <li>Como ingeniero(a) ambiental – realizar campañas para la valoración y cuidado del medio ambiente</li>
							</ul>
                    </li>
                    <li >
                        <h4>
                            <i class="fa fa-check circle"></i> Oportunidades durante y post-programa
                        </h4>

                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <ul>
                          <li>Capacitaciones y conexiones con la red mundial Teach For All, con presencia en 37 países del mundo</li>
                          <li>Importantes empresarios, compañías y patrocinadores del proyecto, se han ofrecido a mantener estrecha comunicación con los participantes del programa por medio de mentorías.</li>
                        </ul>
                    </li>

                </ul>

            </div>
        </div>
        <div class="column large-4">
            <div class="post-image">
                    <a>
                        <img class="circle" src="{% static 'assets/images/cuadros/slider10.jpg' %}">
                    </a>
                </div>
        </div>
        </div>
		</div><!-- /.row -->
	</section>
    <section class="section-featured mb-45">
        
		<div class="row">
			 <header class="section-head">
                <h2 class="section-title">¿Dónde estamos?</h2><!-- /.section-title -->

                <div class="section-image">
                    <i class="fa fa-bookmark fa-lg"></i>
                </div><!-- /.section-image -->
            </header>

            <div class="row">
            
            <div class="column small-12 mb-45">
	               <img src="{% static '/static/assets/images/leadership/dondeestamos.jpg' %}">
            </div>

        </div>
		</div><!-- /.row -->
	</section>
    

</div>
